
<div id="emotion">
    <input type="radio" name="emotion" id="sad" />
        <label for="sad"><%=image_tag("cat-monde.png", :alt => 'Moutoners')%></label>

    <input type="radio" name="emotion" id="happy" />
        <label for="happy"><%=image_tag("cat-sports.png", :alt => 'Moutoners')%></label>
</div>