TEST JAVA

<div id="container">
	<div class="item">
		<h3 class="toggleOpen">Open Me!</h3>
		<div class="toggle">
			<span class="toggleClose">x</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum ligula vitae nisl.</p>
		</div>
	</div>
	<div class="item">
		<h3 class="toggleOpen">Open Me!</h3>
		<div class="toggle">
			<span class="toggleClose">x</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum ligula vitae nisl vehicula elementum. Quisque d.</p>
		</div>
	</div>	<div class="item">
			<h3 class="toggleOpen">Open Me!</h3>
			<div class="toggle">
				<span class="toggleClose">x</span>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum ligula vitae nisl vehicul</p>
			</div>
		</div>
</div>

