<section id="abonnements">	
	<div class="container">
		<div class="row">
			<div class="row" id="intro">
				Si vous lisez tout, respect!
			</div>
			<div class="row" id="abobo">
				Conditions Générales d'Utilisation
			</div>
		</div>
		
		</br>
		<div class="row">
			<div class="row" id="faqq">
				<div  class="blanc">
				</div>
				<div class="bleu">
				</div>
				<div class="titre">
				1. Mentions légales et champ d’application
				</div>
				<div class="texte">
					Cupofteach.com et les services qu’il propose inclut sans limitation tous les sites internet, applications mobile et autres services qui lui sont liés et est défini ci-après par Moutoners.
					</br></br>
					L’éditeur est joignable par courrier électronique à p_ghorra@hotmail.cpm</br>
					LE SITE est hébergé par HEROKU, Heroku, Inc.</br>
					321 11th Street</br>
					San Francisco, CA</br>
					USA</br></br>
					
					Les fonctions de directeur de la publication du Moutoners et de responsable de sa rédaction sont exercées par monsieur Paul Ghorra.</br>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="row" id="faqq">
				<div  class="blanc">
				</div>
				<div class="bleu">
				</div>
				<div class="titre">
					2.        Droit applicable
				</div>
				<div class="texte">
					2.1 Les présentes Conditions Générales d’Utilisation sont soumises à l’application du droit Français et de la compétence exclusive des juridictions française. La langue du contrat est le français.</br>
					2.2 Sauf dispositions d’ordre public, tous les litiges qui pourraient survenir dans le cadre de l’exécution des présentes Conditions Générales d’Utilisation pourront avant toute action judiciaire être soumis à l’appréciation de l’éditeur du site en vue d’un règlement amiable. Il est expressément rappelé que les demandes de règlement amiable ne suspendent pas les délais ouverts pour intenter les actions judiciaires.
				
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="row" id="faqq">
				<div  class="blanc">
				</div>
				<div class="bleu">
				</div>
				<div class="titre">
				3. Acceptation des Conditions Générales d’Utilisation.
				</div>
				<div class="texte">
					3.1 Toute personne physique agissant en son nom ou pour le Compte d’une personne morale, accédant au site Cupofteach.com, ci après nommé Moutoners,  est un Utilisateur. En accédant à Moutoners, même sans s’y être identifié, l’Utilisateur accepte sans condition la totalité des présentes Conditions Générales d’Utilisation ci après nommées CGU. L’Utilisateur reconnait du même fait avoir pris pleinement connaissance des présentes CGU.</br>
				3.2	Moutoners et son éditeur se réservent le droit d’interdire l’accès à tout Utilisateur qui ne respecte pas les présentes CGU, sans justification, sans préavis et à tout moment.</br>
					3.3. Lorsqu’un Utilisateur souhaite bénéficier des services disponibles sur Moutoners, il doit cocher la case « Je reconnais avoir lu et accepté les conditions générales d'utilisation» figurant sur le formulaire d'inscription.</br>

					En conséquence, l’Utilisateur reconnaît être informé du fait que son accord concernant le contenu des présentes CGU, ne nécessite pas la signature manuscrite de ce document, mais résulte de sa seule acceptation.
				
				
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="row" id="faqq">
				<div  class="blanc">
				</div>
				<div class="bleu">
				</div>
				<div class="titre">
					4. Modification des CGU
				</div>
				<div class="texte">
					4.1 Moutoners, son éditeur ou son mandataire peuvent  à leur seul discrétion et à n’importe quel moment, décider de changer ou modifier les présentes CGU sans avoir à en informer ses Utilisateurs. En accédant à Moutoners, tout Utilisateur accepte les modification éventuelles apportées. Les CGU applicables à l’Utilisateur sont celles en vigueur au jour de sa dernière connexion sur le présent site.</br>
					4.2 Le fait pour Moutoners, l’éditeur, ou son mandataire, de ne pas se prévaloir à titre temporaire ou permanent d’une ou plusieurs clauses des présentes CGU n’emportera en aucun cas renonciation à se prévaloir du reste des conditions générales. </br>

					4.3 Les dernières modifications apportées datent du 30 Avril 2013.
					
				
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="row" id="faqq">
				<div  class="blanc">
				</div>
				<div class="bleu">
				</div>
				<div class="titre">
					5. Nullité d’une clause
				</div>
				<div class="texte">
				Si une ou plusieurs clauses des présentes CGU venaient à être déclaré(es) nulle(s) par une décision de justice, cette nullité ne saurait emporter la nullité de l’ensemble des autres clauses, qui continueraient à produire leur effet. 
				
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="row" id="faqq">
				<div  class="blanc">
				</div>
				<div class="bleu">
				</div>
				<div class="titre">
					7.        Copyright
				</div>
				<div class="texte">
					7.1 La totalité du site Moutoners  est protégée par le code de la propriété intellectuelle. Aucune reproduction ou copie même partielle n’est autorisée sans autorisation préalable  de Moutoners ou de son éditeur.</br>

					7.2 L’Utilisateur reconnaît donc que, en l’absence d’autorisation, toute copie totale ou partielle et toute diffusion ou exploitation d’un ou plusieurs des éléments de Moutoners, même modifiés, seront susceptibles de donner lieu à des poursuites judiciaires menées à leur encontre par Moutoners et son éditeur. Le logo et les expressions «Apprenons les uns des autres, «Université entre particuliers» et «Décloisonnons l’éducation» ont par ailleurs été déposés à l’INPI.</br>

					7.3 Cette protection portera sur tous les contenus textuels et graphiques du site, mais également sur sa structure, sur son code source, sur son nom et sur sa charte graphique. </br>
				
				
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="row" id="faqq">
				<div  class="blanc">
				</div>
				<div class="bleu">
				</div>
				<div class="titre">
					8. Création d’un Compte, gestion d’un Compte et données personnelles
				</div>
				<div class="texte">
					8.1  Pour pouvoir utiliser la totalité des services proposés par Moutoners, une inscription est nécessaire. Lors de cette inscription, l’Utilisateur crée un Compte et s’engage à fournir des informations véridiques, exactes, à jour et complètes au regard de la loi, tel que cela figure dans le formulaire d'inscription du service. Cela inclut de façon non exhaustive son nom, son prénom et ses coordonnées. Pour participer à un Débat ou pour proposer un Défi, l’Utilisateur doit créer gratuitement un Compte sur Moutoners. L’Utilisateur doit être une personne physique. Toute création de Compte par une méthode automatique ou robotique est illégale.</br>
					8.2 L’Utilisateur s’engage à donner des informations valides lors de son inscription, ainsi que lors de la création d’un Atelier ou de sa participation à un Atelier. L’Utilisateur s’engage aussi à maintenir et mettre à jour régulièrement ses données d'inscription disponibles dans le Dashboard, dans la rubrique Compte.
					</br>8.3 Dans l'hypothèse où l’Utilisateur fournirait des données d'inscriptions fausses, inexactes, périmées ou incomplètes, Moutoners sera en droit de suspendre ou de résilier son  Compte et de lui refuser immédiatement et pour le futur l'accès à tout ou partie des services.

					</br>8.4 Toute tentative de substitution ou toute substitution de pseudonymes et de mot de passe ou d'identifiant d'un autre membre est strictement interdite.</br>

					8.5 Moutoners ne pourra être tenu responsable de toute perte ou tout dommage résultant d'un manquement aux obligations figurant au présent article.</br>

					8.6 Lorsqu’il est connecté sur Moutoners, l’Utilisateur s’engage à respecter la loi. Cela implique notamment de ne pas tenir de propos injurieux, de ne pas demander ou proposer des Ateliers contraires aux bonnes moeurs ni à la loi, de ne pas importer, de ne pas télécharger des éléments tels que du texte ou des images dont il n’aurait pas la jouissance légale.</br>
					8.7 L’Utilisateur est responsable de la sécurité de son compte. Il ne doit en aucun cas divulguer son mot de passe. Moutoners et son éditeur ne sont en aucun cas responsables des dommages et préjudices qui pourraient être liés au piratage du Compte d’un Utilisateur. De ce fait, l’Utilisateur s’engage à conserver strictement confidentielles son identifiant et son mot de passe dont il est seul responsable de l’usage qui pourrait en être fait. Il s’engage aussi à informer immédiatement Moutoners de toute utilisation frauduleuse de son mot de passe, de son numéro de Compte, ou de toute autre donnée confidentielle.</br>
					8.8 Toute publicité non autorisée est interdite sur Moutoners. Il est donc strictement interdit à un Utilisateur d’utiliser sa page pour promouvoir une activité qui n’entrerait pas dans l’utilisation du service, ou qui inciterait (même implicitement) les Utilisateurs à contourner ou quitter le service.</br>
					8.9 Moutoners et son éditeur déclinent tout responsabilité dans le cas où un Utilisateur aurait un comportement illégal et / ou préjudiciable aux autres Utilisateurs. En revanche, Moutoners et son éditeur s’engagent à faire tout leur possible pour éviter que cela arrive, et invite tout Utilisateur qui constate un comportement ou des propos non advenus à le lui signaler  au plus vite afin que Moutoners puisse agir en conséquence.</br>
					8.10 Moutoners ne recrute pas les Intervenants et n’est de ce fait pas garant de la  qualité de leur prestation. Les Participants sont donc conscients du risque qu’ils prennent quant à la qualité de la prestation fournie par leur Intervenant et sont par ailleurs fortement invités à laisser des commentaires, à recommander et à informer Moutoners du déroulement de chaque débat auquel ils participent.
					
				</div>
			</div>
		</div>		
	 </div>
</section>