<section id="abonnements">
  <%= render :partial => "shared/flash_messages" %>
  
  <div class="container">
	<div class="row">
		<div class="row" id="intro">
			Les questions fréquemment posées.
		</div>
	</div>
	</br>
	</br>
	<div class="row">
		<div class="row" id="faqq">
			<div  class="blanc">
			</div>
			<div class="bleu">
			</div>
			<div class="titre">
				Au fait, Moutoners c'est quoi ?
			</div>
			<div class="texte">
				Moutoners est un réseau social entièrement dédié au débat et à l'échange d'idées.
				Nous essayons de garder une ligne éditoriale de qualité, pour élever le débat 
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="row" id="faqq">
			<div  class="blanc">
			</div>
			<div class="bleu">
			</div>
			<div class="titre">
				Au fait, Moutoners c'est quoi ?
			</div>
			<div class="texte">
				Moutoners est un site entièrement dédié au débat. Nous essayons de garder une ligne éditoriale de qualité, pour élever le débat 
			</div>
		</div>
	</div>


	<div class="row">
		<div class="row" id="faqq">
			<div  class="blanc">
			</div>
			<div class="bleu">
			</div>
			<div class="titre">
				Quelle est la différence entre un Défi et un Débat Ouvert?
			</div>
			<div class="texte">
				Un défi est un débat à durée déterminée, proposant 4 genres 				Un défi est un débat à durée déterminée, proposant 4 genres 				Un défi est un débat à durée déterminée, proposant 4 genres 				Un défi est un débat à durée déterminée, proposant 4 genres 				Un défi est un débat à durée déterminée, proposant 4 genres 				Un défi est un débat à durée déterminée, proposant 4 genres 				Un défi est un débat à durée déterminée, proposant 4 genres 
			</div>
		</div>
	</div>
  </div>

</section>