<section id="presentation-1">
  <%= render :partial => "shared/flash_messages" %>
  
  <div class="container">
	<div class="row" id="presentation1">
		<%= image_tag("presentation-centrale14-01.png")%>
	</div>
	
	<div class="row" id="presentation1">
		<%= link_to(image_tag("presentation-centrale15-01.png"), presentation_path)%>
	</div>
	
  </div>

</section>