<div class="container">
	<div class="row">
		<%= link_to "Créér un challenge", new_challenge_path %>
	</div>	
				<div class="row">
					<div class="span2">
						<%= render "shared/menu_cat"%>
					</div>
	
					<div class="span8" id="for-badges">
						<%= render "shared/index", :object => @challenges %>
					</div>
				</div>
</div>