<div class="container" id="index-doulins">
	
	<div class="row" id="intro-doulin">
		<div class="texte">Débats Ouverts pour gens d'esprit</div>
	</div>
	
	<div class="row" id="open-infos">
		<div class="span11" id="informations-doulin">
			<div class="row" id="informations-challenge">
				<div class ="span9" id="textexp">
					Débats Ouverts, comment ça marche ?				
				</div>
			 	<div class="span1" id="fermer-explication">
				X
				</div>
		    </div>
			<div class="row" id="ouvrons-encore">
				<div class="image-gauche">
					<%= image_tag("explication-3-01.png", class: "fleche10")%>
				
				</div>
			</div>
		</div>
	</div>
	
				<div class="row" id= "for-badges">
					<div class="span3">
						<%= render "shared/menu_cat"%>
					</div>
	
					<div class="span8" id="list">
						<%= render "shared/index", :object => @debates %>
						<%= will_paginate @debates, previous_label: h("<"), next_label: h(">") %>	
					</div>
				</div>
</div>