<div class="container">
				<div class="row">
					<div class="span2">
						<%= render "shared/menu_cat"%>
					</div>
	
					<div class="span8" id="for-badges">
						<%= render "shared/index", :object => @lists %>
					</div>
				</div>
</div>