<div class="container">
	&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;Ceci est une image que vous pouvez copier:
	<div id="communiquedepresse" class="span9 offset2"><%= image_tag("communique de presse-01.png")%></div>
</div>