<div class="container">
	<div class="span4 offset2">Ceci est une image que vous pouvez copier:</div>
	<div id="communiquedepresse" class="span9 offset2"><%= image_tag("communique de presse-01.png")%></div>
</div>