<section id="challenge">
	<div class="container">
		</br></br>
		<div class="row">
			<div class="row" id ="openning-comments3">
				<div class="comment-texte3">Modifiez votre commentaire.</div>
			</div>
		</div>
	<%= render "shared/comment_form", commentable: @comment.commentable, type: Challenge, comment: @comment%>
	</br></br></br>
	</div>
</section>