<section id="correction">
<div class="container">
	<div class="centrons-tout">
	<%= render "shared/argument_neutre_form", argumentable: @argumentable, argument: @argument, position: 0 %>
	</div>
</div>
</section>