
<div class="container">
	<div class="span9 offset3">
		</br>
		</br>
		<h3>Votre commentaire doit faire moins de 140 caractères</h3>
		<%= render "shared/argument_badge", :argument => @argument %>
	</div>
</div>