<section id="index-groups">
	<div class="container">
		<div class="row" id="intro-groupe">
			<div class="text1">
			<%= link_to "créér un groupe", new_group_path, class: "text1"%>
			</div>
			<div class="text2">
				Index des troupeaux
			</div>
		</div>
		
		<% @groups.each do |g|%>
		<div class="row" id="pousse-droite">
			<%= render "shared/group_badge", group: g%>
		</div>
		<%end%>
	</div>
</section>

	
	
	
