<section id="user-profile">
	<div class="container">
	

		<%= render "profile_header" %>	

		<div class= 'row' id="container-activ">
			<div>
				<%= render "profile_badge", user: @user%>	
			</div>
			<div class="span8" id="container-activ3">			
					<%= render "shared/index", object: @object  %>
			</div>
		</div>

	</div>
</section>