<section id="user-profile">
	<div class="container">
	

		<%= render "profile_header" %>	

		<div class= 'row' id="container-activ">
			<div>
				<%= render "profile_badge", user: @user%>	
			</div>
			<div class="span7" id="container-activ2">
				
				<% @user.challenges.open_challenges.each do |challenge| %>
					<%= render "shared/challenge_badge", challenge: challenge  %>
				<%end%>
				
				<% unless @user.challenges.open_challenges.any? %>
					Pas de défi en cours pour le moment
				<% end%>
			</div>
		</div>

	</div>
</section>