<section id="user-profile">
	<div class="container">
	

		<%= render "profile_header" %>	

		<div class= 'row' id="container-activ">
			<div>
				<%= render "profile_badge", user: @user %>	
			</div>
			<div class="span7" id="container-activ2">

				
				<% @user.groups.each do |group| %>
					<%= render "shared/group_badge", group: group  %>
				<%end%>
				
				<% unless @user.groups.any? %>
					Pas de groupes pour le moment
				<% end%>
			</div>
		</div>

	</div>
</section>