<section id="argcom2">
		<div id="imageuser">
			<%= image_tag argcom.user.avatar.url(:small), class: "image" %>
		</div>
		<div class="span1" id="user">
			<%= argcom.user.fitting_name%>
		</div>
		<div class="span6" id="content">
			<%= argcom.content %>
			</br>
		</div>
</section>