<section id="argcom2">
		<div class="span1" id="user">
			<%= argcom.user.name %>
		</div>
		<div class="span5">
			<%= argcom.content %>
			</br>
			<% if current_user?(argcom.user) %>
		    <%= link_to "delete", argcom, method: :delete,
		                                     data: { confirm: "You sure?" },
		                                     title: argcom.content %>
		  <% end %>
		</div>
</section>