<li>
	_argcom_badge
	<span class="content"><%= argcom.content %></span>
		
	  <% if current_user?(argcom.user) %>
	    <%= link_to "delete", argcom, method: :delete,
	                                     data: { confirm: "You sure?" },
	                                     title: argcom.content %>
	  <% end %>
</li>