<section id="debate-badge">
	<div class="container">
  		<div class="row">
			<div class="span4" id="debate-badge1">
				<div class="span2" id="debate-badge2">
					OPEN
				</div>	
				<div class="span3" id="title">
    			<h3><%= link_to debate.title, debate %></h3>
					<% if current_user && current_user.following?(debate)%>
						<%= link_to"Ne plus suivre", unfollow_debate_path(debate)%>
					<% else %>
						<%= link_to"Suivre", follow_debate_path(debate)%>
					<% end %>
				<h4><%= debate.content %>
				</div>
			</div>
		</div>
	</div>
</section>

 