
      <% if object.any? %>
		</br>
        <% object.each do |ob| %>
		<div class="lists">
			 <% if ob.class == Debate %>
			 	<%= render "shared/debate_badge", :debate => ob %>
			<% elsif ob.class == Doulin %>
				<%= render "shared/doulin_badge", :doulin => ob %>
			<% elsif ob.class == Challenge %>
				 <%= render "shared/challenge_badge", :challenge => ob %>
			<% end %>
		</div>
		<% end %>
      <% end %>
