<div class="row" id="micropost-render">
	<% unless micropost.id == nil %>
			<div class="span7" id="comment">
				<div class="row">
					<div class="span3" id="gauche-comment">
						<div class="row">
							<div class="span1" id="imageuser">
								<%= image_tag micropost.user.avatar.url(:small), class: "image" %>
							</div>
							<div class="span1" id="user">
								<%= micropost.user.fitting_name%>
							</div>
						</div>
					</div>
					<div class="span2" id="deletecomment">
						<% if current_user?(micropost.user) %>
					    <%= link_to "EFFACER", micropost, method: :delete,
					                                     data: { confirm: "Tu es sûr(e)?" },
					                                     title: micropost.content, class: "effacer"%>
					  <% end %>
					</div>
				</div>
				<div class="row">
					<div class="span4" id="content">
						<%= h Rinku.auto_link(micropost.content).gsub(/\n/, '<br/>').html_safe  %>
						</br>
					</div>
				</div>
					
			</div>		
	<% end%>
</div>