<section id="user-badge">
	<div class="row">
		<div class="span2">
			<div class="image1">
				<%= link_to image_tag(user.avatar.url(:medium)), user, class: "image"%>
			</div>
			<div class="nom">
				<%= link_to user.name, user, class: "nom"%>
			</div>
			<div class="contexte">
				<%= h Rinku.auto_link(user.content).gsub(/\n/, '<br/>').html_safe%>
			<div>
		</div>
	</div>
</section>