<div class="span3" id="progress-bar">	
	<% if rapport == 0 %>
		<div class="zero">
		</div>
	<%elsif rapport <= 5 %>
		<div class="cinq">
		</div>
	<%elsif rapport <= 10 %>
		<div class="dix">
		</div>
	<%elsif rapport <= 15 %>
		<div class="quinze">
		</div>
	<%elsif rapport <= 20 %>
		<div class="vingt">
		</div>
	<%elsif rapport <= 25 %>
		<div class="vingt-cinq">
		</div>
	<%elsif rapport <= 30 %>
		<div class="trente">
		</div>
	<%elsif rapport <= 35 %>
		<div class="trente-cinq">
		</div>
	<%elsif rapport <= 45 %>
		<div class="quarante">
		</div>
	<%elsif rapport <= 50 %>
		<div class="quarante-cinq">
		</div>
	<%elsif rapport <= 55 %>
		<div class="cinquante">
		</div>
	<%elsif rapport <= 55 %>
		<div class="cinquante-cinq">
		</div>
	<%elsif rapport <= 60 %>
		<div class="soixante">
		</div>
	<%elsif rapport <= 65 %>
		<div class="soixante-cinq">
		</div>
	<%elsif rapport <= 70 %>
		<div class="septante">
		</div>
	<%elsif rapport <= 75 %>
		<div class="septante-cinq">
		</div>
	<%elsif rapport <= 80 %>
		<div class="octante">
		</div>
	<%elsif rapport <= 85 %>
		<div class="octante-cinq">
		</div>
	<%elsif rapport <= 90 %>
		<div class="nonante">
		</div>
	<%elsif rapport <= 95 %>
		<div class="nonante-cinq">
		</div>
	<%elsif rapport <= 100 %>
		<div class="zero">
			</div>

	<%end%>
</div>