<div id="voting-bar">
	<% if rapport == 0 %>
		<div class="zero">
		</div>
	<%elsif (1..5).include?(rapport)%>
		<div class="cinq">
		</div>
	<%elsif (6..10).include?(rapport)%>
		<div class="dix">
		</div>
	<%elsif (11..15).include?(rapport)%>
		<div class="quinze">
		</div>
	<%elsif (16..20).include?(rapport)%>
		<div class="vingt">
		</div>
	<%elsif (21..25).include?(rapport)%>
		<div class="vingt-cinq">
		</div>
	<%elsif (26..30).include?(rapport)%>
		<div class="trente">
		</div>
	<%elsif (31..35).include?(rapport)%>
		<div class="trente-cinq">
		</div>
	<%elsif (36..40).include?(rapport)%>
		<div class="quarante">
		</div>
	<%elsif (41..45).include?(rapport)%>
		<div class="quarante-cinq">
		</div>
	<%elsif (46..50).include?(rapport)%>
		<div class="cinquante">
		</div>
	<%elsif (51..55).include?(rapport)%>
		<div class="cinquante-cinq">
		</div>
	<%elsif (56..60).include?(rapport)%>
		<div class="soixante">
		</div>
	<%elsif (61..65).include?(rapport)%>
		<div class="soixante-cinq">
		</div>
	<%elsif (66..70).include?(rapport)%>
		<div class="septante">
		</div>
	<%elsif (71..75).include?(rapport)%>
		<div class="septante-cinq">
		</div>
	<%elsif (76..80).include?(rapport)%>
		<div class="octante">
		</div>
	<%elsif (81..85).include?(rapport)%>
		<div class="octante-cinq">
		</div>
	<%elsif (86..90).include?(rapport)%>
		<div class="nonante">
		</div>
	<%elsif (91..95).include?(rapport)%>
		<div class="nonante-cinq">
		</div>
	<%elsif (95..100).include?(rapport)%>
		<div class="cent">
		</div>

	<%end%>
</div>