<section id="activities">
	<% if activity.trackable %>
	  	<div class="span4" id="intro-activities">
		<div class="texte"><%= link_to activity.owner.fitting_name, activity.owner %> s'intéresse au débat </div></div>
		<div class="row"><%= render "shared/debate_badge", debate: activity.trackable %></div>
	<% end %>
</section>