<section id='new-challenge'>
	<div class="container">
		<%= form_for(@challenge) do |f| %>
			<%= render '/shared/error_messages', object: f.object %>
		<div class="row" id="intro-newchallenge">
			<div class="texte2">Lance un défi, prends position et invite tes adversaires !</div>			
		</div>


		<div class="row" id="title-new">
			<div class="row" id="title-new2">
			      	<%= f.text_field :title, placeholder: "Titre du débat ...", class: "title", "data-max-char" => "20"%>
				<% end %>
			</div>
			
			<div class="row" id="maincontent-new">
				<div class="content1">
					
				</div>
				<div class="content2">
					non
				</div>
			</div>
		</div>
		
		
		<div class="row" id="intro-newchallenge">
			<div class="texte1"><%= ["Discussion. Moyen de confirmer les autres dans leurs erreurs", "Elever très haut le débat est une façon élégante de le perdre de vue.", "Je n'ai fait cette lettre plus longue que parce que je n'ai pas eu le temps de la faire plus courte", "Dans une discussion, vous avez toujours de votre côté des gens dont vous auriez préféré qu'ils soient de l'autre."].shuffle.first%></div>
			
		</div>
		
		
	</div>
</section>