<section id='new-challenge'>
	<div class="container">
		
		<div class="row" id="intro-newchallenge">
			<div class="texte2">Lance un défi, prends position et invite tes adversaires !</div>			
		</div>
		
		<%= render "challenges/form", challenge: @challenge, value: nil%>
		
		<div class="row" id="intro-newchallenge2">
			<div class="texte1"><%= ["Discussion. Moyen de confirmer les autres dans leurs erreurs.", "Elever très haut le débat est une façon élégante de le perdre de vue.", "Je n'ai fait cette lettre plus longue que parce que je n'ai pas eu le temps de la faire plus courte", "Dans une discussion, vous avez toujours de votre côté des gens dont vous auriez préféré qu'ils soient de l'autre."].shuffle.first%></div>

		</div>
		
		<section id="index-doulins">
		<div class="row">
			<div class="span11" id="informations-doulin">
				<div class="span3" id="informations-doulin1">
					<div class="texte">
						Les Défis Dialectiques
						comment ça marche ?				
					</div>
					<div class="texte2">
						1- Je créé un défi</br>
						2 - J'attends que le défi soit complet </br>
						3- Une joute oratoire sans pitié !</br>
					</div>
				</div>

				<div class="span4" id="informations-doulin2">
				</div>
				<div class="span4" id="informations-doulin3">
				</div>
				<div class="span1" id="fermer-explication">
					
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="span11" id="informations-doulin">
				<div class="span3" id="informations-doulin1">
					<div class="texte">
						<%= link_to "Créér un nouveau défi", new_challenge_path, class: "texte"%>
					</div>
					<div class="texte2">
						1- Je choisis mon type de défi</br>
						2- Je remplis les caractéristiques</br>
						3- J'invite des débatteurs </br>
						4- J'attends mon tour, en surveillant les notifications</br>
					</div>
				</div>

				<div class="span4" id="informations-doulin2">
				</div>
				<div class="span4" id="informations-doulin3">
				</div>
				<div class="span1" id="fermer-explication1">
					
				</div>
			</div>
		</div>
		</section>
		
		<div class="espace"></div>
		
	</div>
</section>

