<section id="activities">
	<% if activity.trackable %>
	  	<div class="span4" id="intro-activities">
		<div class="texte"><%= link_to activity.owner.fitting_name, activity.owner %> suit désormais </div></div>
		<div class="row"><%= render "shared/user_badge", user: activity.trackable %></div>
	<% end %>
</section>