#form-challenge{
	.emotion{
	
	.input_hidden {
	    position: absolute;
	    left: -9999px;
	}

	.selected {
	    background-color: #AAD0FF;
	}

	label {
	    display: inline-block;
	    cursor: pointer;
	}

	label img {
	    padding: 3px;
	}
	
	}
	
	
	.emotion2{
	
	.input_hidden {
	    position: absolute;
	    left: -9999px;
	}

	.selected {
	    background-color: #FFF;
		color: black;
	}
	
	.non-selected{
		 background-color: #808080;
		color: #C9C9C9;
	}
	label {
	    display: inline-block;
	    cursor: pointer;
	}

	label img {
	    padding: 3px;
	}
	
	}	

	#title-new{
	margin-left: 130px;
	margin-top: 15px;
	width: 800px;
	height: 350px;
	background-color: #AAD0FF;
	
		#title-new2{
		margin-top: 15px;
		margin-left: 15px;
		width: 770px;
		
		::-webkit-input-placeholder {
		   font-family: "gotham";
			font-size: 19px;
			letter-spacing: 1px;
		}
		
		.title{
		background-color: white;
		border: none;
		border-radius: 0px;
		width: 750px;
		height: 38px;
		font-family: "gotham";
		font-size: 20px;
		font-style: italic;
		color: black;
		
		}
		}
		
		#maincontent-new{
		margin-left: 15px;
		margin-top:0px;
		width: 770px;
		padding-bottom: 10px;
		border-bottom: 4px solid white;
		
			#content1{
			width: 380px;
			margin-right: 15px;
			margin-left:0px;

				#type-deb{
				width: 380px;
				height: 216px;
				margin-left:0px;
				
					#typedeb1{
						font-family: "gotham";
						margin-left: 0px;
						margin-top: 0px;
						width: 380px;
						


						#choix1{
						width : 185px;
						text-align: center;
						padding-top: 10px;
						padding-bottom: 10px;
			
						.texte{
						width: 40px;
						font-size: 18px;
						
						}
						}
						
						#choix2{
						float: right;
						width : 185px;
						text-align: center;
						padding-top: 10px;
						padding-bottom: 10px;

												
						.texte{
						width: 40px;
						font-size: 18px;
						}
						}
						}
						
						#typedeb2{
						font-family: "gotham";
						margin-top:5px;
						width: 380px;

						
						#choix3{
						width : 185px;
						text-align: center;
						padding-top: 10px;
						padding-bottom: 10px;
						.texte{
						width: 40px;
						font-size: 18px;
						}
						}						
						
						
						#choix4{
						float: right;
						width : 185px;
						text-align: center;
						padding-top: 10px;
						padding-bottom: 10px;
						
						.texte{
						width: 40px;
						font-size: 18px;
						}
						}
					}
				}	
					#category_list{
					background-color: #C9C9C9;
					margin-left: 0px;
					margin-top: 5px;

					.intro{
					padding-top:5px;
					font-family: "gotham";
					color: white;
					font-size: 18px;
					padding-left: 10px;
					margin-bottom: 8px;
					}

					.choix1{
					margin-left: 10px;
					}
					label{
					display: inline-block;
					padding-left: 6px;
					}

					}

			}
			
			
			
			
			#content2{
			margin-top: -252px;
			margin-left: 400px;
			width: 370px;
			height: 255px;
			
			
				#description-challenge{
				margin-left:0px;
				width: 370px;
				
				::-webkit-input-placeholder {
				   font-family: "gotham";
					font-size: 22px;
					letter-spacing: 0px;
				}
				
					.description{
					height: 157px;
					background-color: white;
					border: none;
					font-family: "georgia";
					color: black;
					border-radius: 0px;
					width: 362px;
					resize:none;
					font-size: 16px;
					font-style: italic;
					padding-left: 5px;
					}
				
				}
				
					
					#typedeb3{
					font-family: "georgia";
					font-style: italic;
					font-weight: bold;
					width: 370px;
					background-color: #AAD0FF;
					height: 30px;
					margin-top: 3px;
					
					
					
					
					#choix5{
					float: left;
					width : 185px;
					text-align: center;
					padding-top: 5px;
					padding-bottom: 5px;
					
					
					.texte{
					width: 40px;
					font-size: 18px;
					
					}
					}
					
					#choix6{
					float: right;
					width : 185px;
					text-align: center;
					padding-top: 5px;
					padding-bottom: 5px;
											
					.texte{
					width: 40px;
					font-size: 18px;
					}
					}
					
					}

					#tags_challenge{
					margin-top: 1px;
					width: 370px;
					margin-left:0px;

					::-webkit-input-placeholder {
					   font-family: "gotham";
						font-size: 19px;
						letter-spacing: 0px;
					}

						.tags{
						border-radius: 0px;
						border: none;
						background-color: white;
						font-family: "georgia";
						font-style: italic;
						color: black;
						font-size: 16px;
						height: 34px;
						width: 350px;
						}
					}
				#submit-challenge{
				margin-left: 0px;
				margin-top: 0px;
				
				.action{
				border: none;
				border-radius:0px;
				background-color: black;
				text-align: center;
				color: white;
				font-family: "gotham";
				font-size: 22px;
				width: 370px;
				padding-top: 0px;
				height:34px;
				}
				}
			}
		}
	}
}

#new-challenge{


#intro-newchallenge{
	width: 900px;
	margin-top: 30px;
	text-align: center;
	margin-left: 80px;
	
	.texte2{
	font-family: "georgia";
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	color: #000;
	margin-bottom: 20px;
	}
}


	.espace{
	height: 40px;
	width: 40px;
	background-color: white;
	}
	

	
	#intro-newchallenge2{
		width: 900px;
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: center;
		margin-left: 80px;
		
		.texte1{
		font-family: "georgia";
		font-size: 16px;
		font-style: italic;
		text-align: center
		}
	
	}
}


#challenge{
	#juges{
		background-color:#CCC;
		margin-bottom:20px;
		min-height:200px;
		width:730px;
		
		#grades{
		background-color:#CCC;
		min-height: 200px;
		margin-left:-10px;
			.adeux{
			
			.note1{
			margin-left:50px;
			margin-top: 20px;

			}
			
			.note3{
			margin-left:50px;
			margin-top: 10px;
			}
			
			.note2{
			font-family: "bebasneue-webfont";
			font-size: 24px;
			margin-left:60px;
			margin-top: -37px;
			color:white;
			
			.text{
				width:100px;
				margin-top:-15px;
				margin-left: -30px;
				font-size:18px;
				color: black;
				text-align: center;
			}
			}
		
			}
		}
		
		#content{
			background-color:#EEE;
			min-height:200px;
			margin-left:0px;
			#title-juge{
				text-align: left;				
				margin: 10px 30px 0px 30px;
			    font-family:"georgia";
			    font-size:20px;
				font-style: italic;
				font-weight: bold;
			
				.title{
				background-color: white;
				border-radius:0px;
				height:20px;
			    width: 350px;
				border:none;
				resize:none;
	
				}
			}
			#contenu{
				margin-top: 15px;
				margin-left:30px;
				margin-right:10px;
				font-family: 'georgia';
				font-size: 16px;

				
				.contenu{
				margin-top: -35px;
				background-color: white;
				border-radius:0px;
				height:100px;
			    width: 350px;
				border:none;
				resize:none;
			
				}
			}
			
			#notes-actions{
				margin-left:30px;
				margin-right:10px;
				
				.note1{
					width:100px;
				}
				.note2{
					width:100px;
				}
				.actions{
				border-radius:0px;
				font-family: "bebasneue-webfont";
				font-size: 18px;
				background-color: black;
				}
				

			}
		}
		#user-juge{
			background-color:#CCC;
			height:200px;
			width:170px;
			margin-left:-10px;
			
			.image1{
			width:150px;
			margin-left:10px;
			margin-top:10px;
			img { width: 150px; height:150px;}
			border-bottom: 1px solid white;
				
				.image2{
					margin-bottom:5px;
				}
			}
			
			.nom-lien{
			margin-left:10px;
			width:150px;
			padding-top: 5px;
			font-family: "gotham";
			font-size: 16px;
			text-align: center;

			
				.texte{
				margin-bottom:10px;
				}
			}
			
		}
	
	}
	.espace{
	height:30px;
	width: 300px;
	margin-left : 410px;
	margin-top: 75px;
	border-top: 1px solid;
	}
	
	#openning-context{
	background-color:#C9C9C9;
	height:40px;
	width: 760px;
	margin-left:170px;
	margin-bottom: 10px;
	margin-top: 25px;
	
	.texte{
	padding-top:10px;
	font-family: "gotham";
	font-size:18px;
	color: #000000;
	text-align: center;
	}
	
	.arrow-up-context {
		margin-left:700px;
		margin-top:-18px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		cursor:  pointer;
		border-bottom: 15px solid #FFF;
	}

	.arrow-down-context {
		margin-left:700px;
		margin-top:-15px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		cursor:  pointer;
		border-top: 15px solid #FFF;
	}
	}
	
	#effective-context{
	background-color:#EEE;
	min-height:300px;
	width: 485px;
	margin-left:440px;
	margin-bottom: 10px;
		.text{
		font-family:"georgia";
		font-size: 14px;
		text-align: justify;
		padding: 10px 25px 10px 25px;
		}
	}
	
	#openning-comments{
	background-color:#C9C9C9;
	height:40px;
	width: 760px;
	margin-left:170px;
	margin-bottom: 50px;
	
	.comment-texte1{
	padding-top:10px;
	font-family: "gotham";
	font-size:18px;
	color: #000000;
	text-align: center;
	}
	
	.comment-texte2{
	padding-top:10px;
	font-family: "gotham";
	font-size:18px;
	color: #000000;
	text-align: center;
	}
	
	.arrow-up-comments {
		margin-left:700px;
		margin-top:-18px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		cursor:  pointer;
		border-bottom: 15px solid #FFF;
	}

	.arrow-down-comments {
		margin-left:700px;
		margin-top:-15px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		cursor:  pointer;
		border-top: 15px solid #FFF;
	}
	}
}


#american{
	#american-title{
		width: 760px;
		min-height: 460px;
		background-color:#C9C9C9;
		margin: 30px 0px 30px 150px;
	
		
		#american-gauche{
			margin-left: 35px;
			margin-bottom:20px;
			width:140px;

			
			#equipe{
			height:28px;
			background-color:#AAD0FF;
			width: 140px;
			font-family: "gotham";
			font-size: 15px;
			text-align: center;
			padding-top:10px;
			margin-bottom:15px;
			margin-top:15px;
			}
			
			.image1{
			width: 140px;
			img { width: 140px; height:150px;}
			border-bottom: 1px solid white;
				
				.image2{
					margin-bottom:10px;
				}
			}
			
			.invitation-fermer3-american{
				.texte{
				padding-top: 5px;
				font-family: "gotham";
				font-size: 13px;
				text-align: center;
				}
				
				.select{
				background-color:#C9C9C9;
				}
				
				#fermer-invitation-american{
				padding:5px;
				color: #808080;
				background-color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 100px;
				margin-top: -38px;
				cursor: pointer;
				}
				
				#fermer-invitation3-american{
				padding:5px;
				color: #808080;
				background-color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 100px;
				margin-top: -38px;
				cursor: pointer;
				}
				
				.act{
				background-color:#808080;
				color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 10px;
				}
			}

			.invitation-fermer-american{
				.texte{
				padding-top: 5px;
				font-family: "gotham";
				font-size: 13px;
				text-align: center;
				}
				
				.select{
				background-color:#C9C9C9;
				}
				
				#fermer-invitation-american{
				padding:5px;
				color: #808080;
				background-color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 100px;
				margin-top: -38px;
				cursor: pointer;
				}
				
				#fermer-invitation3-american{
				padding:5px;
				color: #808080;
				background-color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 100px;
				margin-top: -38px;
				cursor: pointer;
				}
				
				.act{
				background-color:#808080;
				color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 10px;
				}
			}
			
			
			.first_user{
			padding-top: 5px;
			font-family: "gotham";
			font-size: 16px;
			text-align: center;
			width: 140px;
			border-bottom: 5px solid white;
			margin-bottom:15px;
			
				.texte{
				margin-bottom:10px;
				}
				
				#invitation-american{
				cursor: pointer;
				}
				#invitation3-american{
				cursor: pointer;
				}
			}
			
			.first_grade{
				margin-top: 10px;
				width: 140px;
				height:30px;
				background-color: #808080;
				font-family: "bebasneeue-webfont";
				font-size: 24px;
				color: white;
				
					.texte{
					text-align: center;
					padding-top:5px;
					}
			}
		}
		
		#american-droite{
			margin-left: 43px;
			width: 140px;
			
			#equipe{
			height:28px;
			background-color:#FF6969;
			width: 140px;
			font-family: "gotham";
			font-size: 15px;
			text-align: center;
			padding-top:10px;
			margin-bottom:15px;
			margin-top:15px;
			}
			
			.image1{
			width: 140px;
			img { width: 140px; height:150px;}
			border-bottom: 1px solid white;
				
				.image2{
					margin-bottom:10px;
				}
			}
			
			.second_user{
			padding-top: 5px;
			font-family: "gotham";
			font-size: 16px;
			text-align: center;
			width: 140px;
			border-bottom: 5px solid white;
			margin-bottom:15px;
				
				.texte{
				margin-bottom:10px;
				}
				
				#invitation1-american{
				cursor: pointer;
				}

				#invitation4-american{
				cursor: pointer;
				}
			}
			
			.invitation-fermer1-american{
				.texte{
				padding-top: 5px;
				font-family: "gotham";
				font-size: 13px;
				text-align: center;
				}
				
				.select{
				background-color:#C9C9C9;
				}
				
				#fermer-invitation1-american{
				padding:5px;
				color: #808080;
				background-color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 100px;
				margin-top: -38px;
				cursor: pointer;
				}
				
				.act{
				background-color:#808080;
				color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 10px;
				}
			}
			
			
			.invitation-fermer4-american{
				.texte{
				padding-top: 5px;
				font-family: "gotham";
				font-size: 13px;
				text-align: center;
				}
				
				.select{
				background-color:#C9C9C9;
				}
				
				#fermer-invitation4-american{
				padding:5px;
				color: #808080;
				background-color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 100px;
				margin-top: -38px;
				cursor: pointer;
				}
				
				.act{
				background-color:#808080;
				color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 10px;
				}
			}
			.second_grade{
				margin-top: 10px;
				width: 140px;
				height:30px;
				background-color: #808080;
				font-family: "bebasneeue-webfont";
				font-size: 24px;
				color: white;
				
					.texte{
					text-align: center;
					padding-top:5px;
					}
			}
		}
		
		
		#american-milieu{
			margin-left:2px;
			width:400px;
			#american-image-superieure{
				height:254px;
				margin: 15px 0px 15px 0px;
				img { width: 420px; height:254px;}

				.image{
				}

				.image-sign{
					img { width: 50px; height:49px;}
					margin-top:-145px;
					margin-left: 175px;
				}

			}
			
			#american-milieu-1{
				font-family:"gotham";
				font-size: 23px;
				font-color: black;
				line-height: 25px;
				margin-left: 0px;
				margin-right:0px;



					.title{
					padding-top:5px;
					padding-right: 10px;
					text-align: left;
					 letter-spacing:-1px;
					line-height: 25px;
					}
				}

				#american-milieu-4{
				margin-left: 0px;
				margin-right:0px;
				margin-top:15px;
				font-family : "gotham";
				font-size : 18px;
				font-weight: bold;
				color: white;
					.tags{
					color: white;
					}

				li{
				margin-right: 5px;
				display : inline-block;
				}

				}
				
				#american-milieu-2{
				margin-top: 15px;
				font-family: "georgia";
				font-style: italic;
				font-size: 14px;
				margin-left: 0px;
				margin-right:0px;

					.content{
					text-align: left;
					}
				}
				#american-milieu-3{
				margin-left: 0px;
				margin-right:0px;
					margin-top: 15px;
					padding-bottom: 10px;
					border-bottom: 9px solid white;

					div{
					display: inline-block;
					}
						a:hover{
						color:#000000;
						}


						.moitie-gauche{
						width:190px;
						background-color: #808080;
						height: 35px;
						font-family: "gotham";
						font-size: 18px;
						color: white;
						text-align: center;

							.rapport-gauche{
							height:29px;
							padding: 7px 5px 0px 5px;
							background-color: white;
							color: black;
							font-family: "georgia";
							font-size: 16px;
							font-style: italic;
							font-weight: bold;
							float: left;
							}
							.pour-truc{
							padding-top: 7px;
								.pour-first{
								text-align: center;
								color: white;

								}
							}
						}


						.moitie-gauche1{
						width:190px;
						background-color: #AAD0FF;
						height: 35px;
						font-family: "gotham";
						font-size: 18px;
						color: white;
						text-align: center;						
							.rapport-gauche{
							height:29px;
							padding: 7px 5px 0px 5px;
							background-color: white;
							color: black;
							font-family: "georgia";
							font-size: 16px;
							font-style: italic;
							font-weight: bold;
							float: left;
							}
						  .pour-truc{
						  padding-top: 7px;
						  	.pour-first{
						  	text-align: center;
						  	color: white;

						  	}
						  }						

						}


						.moitie-droite{
						float:right;
						width:190px;
						background-color: #808080;
						height: 35px;
						font-family: "gotham";
						font-size: 18px;
						color: white;
						text-align: center;

							.rapport-droite{
							height:29px;
							padding: 7px 5px 0px 5px;
							background-color: white;
							color: black;
							font-family: "georgia";
							font-size: 16px;
							font-style: italic;
							font-weight: bold;
							float: right;
							}
							.pour-truc{
							padding-top: 7px;
								.pour-second{
								text-align: center;
								color: white;

								}
							}
						}


						.moitie-droite1{
						float:right;
						width:190px;
						background-color: #FF6969;
						height: 35px;
						font-family: "gotham";
						font-size: 18px;
						color: white;
						text-align: center;						
							.rapport-droite{
							height:29px;
							padding: 7px 5px 0px 5px;
							background-color: white;
							color: black;
							font-family: "georgia";
							font-size: 16px;
							font-style: italic;
							font-weight: bold;
							float: right;
							}
						  .pour-truc{
						  padding-top: 7px;
						  	.pour-second{
						  	text-align: center;
						  	color: white;

						  	}
						  }						

						}

					}


				#american-milieu-5{
				font-family:"bebasneue-webfont";
				font-size:28px;
				margin-left: 70px;
				margin-right:15px;
				margin-top:10px;
				margin-bottom:15px;
				
				.stat1{
					.image{
					padding-bottom:5px;
					margin-left:7px;
					margin-right: 20px;
					}
				}
				.stat2{
				margin-left: 10px;
				margin-top: 0px;
				}
				}
		}
	}
	
	
	#position-aleatoire{
		background-color:#808080;
		margin-left:400px;
		font-family: "bebasneue-webfont";
		font-size: 24px;
		width: 270px;
		margin-bottom: 30px;
		
		.numero{
		text-align: center;
		padding-top:5px;
		padding-bottom: 5px;
		
		a:hover{
		color: white;
		}
		}
	}
	
	#pousse-gauche{
		margin-left:170px;
	}
	
	#pousse-gauche2{
		margin-left:396px;
	}
	
	#follow{
	margin-top:-383px;
	margin-left:910px;
	height:  24px;
	width: 90px;
	background-color: #808080;
	
	.follow:hover{
		background-color: black;
	}
	
	.texte{
		font-family: "gotham";
		font-weight: bold;
		font-size: 16px;
		color: #FFF;
		padding-left: 8px;
		padding-top:2px;
	}
	
	.texte2{
		font-family: "gotham";
		font-weight: bold;
		font-size: 16px;
		color: #FFF;
		padding-left: 12px;
		padding-top:2px;
		
	}
	.arrow-left{
		margin-top:-20px;
		padding-left: 78px;
	 	width: 0; 
	 	height: 0; 
	 	border-top: 12px solid transparent;
	 	border-bottom: 12px solid transparent; 
	 	border-right:12px solid white;
	}
	
	}
	
   	#catcat{
	margin-top:-343px;
	margin-left:910px;
	height:65px;
	width:90px;
	background-color:#AAD0FF;
	
	 .arrow-left{
		padding-left:58px;
	 	width: 0; 
	 	height: 0; 
	 	border-top: 32px solid transparent;
	 	border-bottom: 34px solid transparent; 
	 	border-right:32px solid white;
	 }
	.image{
	margin-left:10px;
	margin-top:-48px;
	}
	}
	
	#start{

		font-family:"bebasneue-webfont";
		font-size:28px;
		margin-left:335px;
		margin-top:50px;
		margin-bottom: 0px;
		width:240px;
		color:black;
	}
	
	.tour-gauche{
	background-color:#AAD0FF;
	margin-top:20px;
	width: 383px;
	min-height:52px;
	margin-left:150px;
	
	.image{
		padding: 5px 5px 5px 5px;
		img { width: 42px; height:35px;}
		
		.name{
		font-family:"gotham";
		font-size:18px;
		color:#000000;
		}
	}
	}
	
	.tour-droite{
	background-color:#FF7575;
	margin-top:20px;
	width: 383px;
	min-height:52px;
	margin-left:401px;
	
	.image{
		padding: 5px;
		img { width: 42px; height:35px;}
		
		.name{
		font-family:"gotham";
		font-size:18px;
		color:#000000;
		}
	}
	}
}


#ld{
	#ld-title{
		width: 760px;
		min-height: 460px;
		background-color:#C9C9C9;
		margin: 30px 0px 30px 150px;
		
		
		#ld-image-superieure{
			margin: 15px;
			width: 730px;
			height: 185px;
			background-color:white;
			img { width: 730px; height:185px;}
			
			.image{

			}
			
			.image-sign{
				img { width: 50px; height:49px;}
				margin-top:-115px;
				margin-left: 345px;
			}

		}
		
		#ld-gauche{
			margin-left: 35px;
			margin-bottom:15px;
			.image1{
			img { width: 150px; height:150px;}
			border-bottom: 1px solid white;
				
				.image2{
					margin-bottom:10px;
				}
			}
			
			.invitation-fermer{
				.texte{
				padding-top: 5px;
				font-family: "gotham";
				font-size: 13px;
				text-align: center;
				}
				
				.select{
				background-color:#C9C9C9;
				}
				
				#fermer-invitation{
				padding:5px;
				color: #808080;
				background-color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 100px;
				margin-top: -38px;
				cursor: pointer;
				}
				
				.act{
				background-color:#808080;
				color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 10px;
				}
			}
			.first_user{
			padding-top: 5px;
			font-family: "gotham";
			font-size: 16px;
			text-align: center;
			border-bottom: 5px solid white;
			
				.texte{
				margin-bottom:10px;
				}
				
				#invitation{
				cursor: pointer;
				}
			}
			
			.first_grade{
				margin-top: 10px;
				width: 150px;
				height:30px;
				background-color: #808080;
				font-family: "bebasneeue-webfont";
				font-size: 24px;
				color: white;
				
					.texte{
					text-align: center;
					padding-top:5px;
					}
			}
		}
		
		#ld-droite{
			margin-left: 0px;
			margin-bottom: 15px;
			
			.image1{
			img { width: 150px; height:150px;}
			border-bottom: 1px solid white;
				
				.image2{
					margin-bottom:10px;
				}
			}
			
			.second_user{
			padding-top: 5px;
			font-family: "gotham";
			font-size: 16px;
			text-align: center;
			border-bottom: 5px solid white;
				
				.texte{
				margin-bottom:10px;
				}
				
				#invitation1{
				cursor: pointer;
				}
			}
			
			.invitation-fermer1{
				.texte{
				padding-top: 5px;
				font-family: "gotham";
				font-size: 13px;
				text-align: center;
				}
				
				.select{
				background-color:#C9C9C9;
				}
				
				#fermer-invitation1{
				padding:5px;
				color: #808080;
				background-color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 100px;
				margin-top: -38px;
				cursor: pointer;
				}
				
				.act{
				background-color:#808080;
				color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 10px;
				}
			}
			.second_grade{
				margin-top: 10px;
				width: 150px;
				height:30px;
				background-color: #808080;
				font-family: "bebasneeue-webfont";
				font-size: 24px;
				color: white;
				
					.texte{
					text-align: center;
					padding-top:5px;
					}
			}
		}
		
		
		#ld-milieu{
			margin-left:0px;
			
			#ld-milieu-1{
			font-family:"gotham";
			font-size: 23px;
			font-color: black;
			line-height: 25px;
			margin-left: 15px;
			margin-right:15px;


			
				.title{
				padding-top:5px;
				padding-right: 10px;
				text-align: left;
				 letter-spacing:-1px;
				line-height: 25px;
				}
			}
			
			#ld-milieu-4{
			margin-left: 15px;
			margin-right:15px;
			margin-top:15px;
			font-family : "gotham";
			font-size : 18px;
			font-weight: bold;
			color: white;
				.tags{
				color: white;
				}

			li{
			margin-right: 5px;
			display : inline-block;
			}
			
			}
			#ld-milieu-2{
			margin-top: 15px;
			font-family: "georgia";
			font-style: italic;
			font-size: 14px;
			margin-left: 15px;
			margin-right:15px;
			
				.content{
				text-align: left;
				}
			}
			#ld-milieu-3{
				margin-left: 15px;
				margin-right:15px;
				margin-top: 15px;
				padding-bottom: 10px;
				border-bottom: 9px solid white;
				
				div{
				display: inline-block;
				}
					a:hover{
					color:#000000;
					}


					.moitie-gauche{
					width:190px;
					background-color: #808080;
					height: 35px;
					font-family: "gotham";
					font-size: 18px;
					color: white;
					text-align: center;

						.rapport-gauche{
						height:29px;
						padding: 7px 5px 0px 5px;
						background-color: white;
						color: black;
						font-family: "georgia";
						font-size: 16px;
						font-style: italic;
						font-weight: bold;
						float: left;
						}
						.pour-truc{
						padding-top: 7px;
							.pour-first{
							text-align: center;
							color: white;
							
							}
						}
					}


					.moitie-gauche1{
					width:190px;
					background-color: #AAD0FF;
					height: 35px;
					font-family: "gotham";
					font-size: 18px;
					color: white;
					text-align: center;						
						.rapport-gauche{
						height:29px;
						padding: 7px 5px 0px 5px;
						background-color: white;
						color: black;
						font-family: "georgia";
						font-size: 16px;
						font-style: italic;
						font-weight: bold;
						float: left;
						}
					  .pour-truc{
					  padding-top: 7px;
					  	.pour-first{
					  	text-align: center;
					  	color: white;
                      
					  	}
					  }						

					}


					.moitie-droite{
					float:right;
					width:190px;
					background-color: #808080;
					height: 35px;
					font-family: "gotham";
					font-size: 18px;
					color: white;
					text-align: center;

						.rapport-droite{
						height:29px;
						padding: 7px 5px 0px 5px;
						background-color: white;
						color: black;
						font-family: "georgia";
						font-size: 16px;
						font-style: italic;
						font-weight: bold;
						float: right;
						}
						.pour-truc{
						padding-top: 7px;
							.pour-second{
							text-align: center;
							color: white;
							
							}
						}
					}


					.moitie-droite1{
					float:right;
					width:190px;
					background-color: #FF6969;
					height: 35px;
					font-family: "gotham";
					font-size: 18px;
					color: white;
					text-align: center;						
						.rapport-droite{
						height:29px;
						padding: 7px 5px 0px 5px;
						background-color: white;
						color: black;
						font-family: "georgia";
						font-size: 16px;
						font-style: italic;
						font-weight: bold;
						float: right;
						}
					  .pour-truc{
					  padding-top: 7px;
					  	.pour-second{
					  	text-align: center;
					  	color: white;
                      
					  	}
					  }						

					}
				}
			
			
			#ld-milieu-5{
				font-family:"bebasneue-webfont";
				font-size:28px;
				margin-left: 70px;
				margin-right:15px;
				margin-top:10px;
				margin-bottom:15px;
				
				.stat1{
					.image{
					padding-bottom:5px;
					margin-left:7px;
					margin-right: 20px;
					}
				}
				.stat2{
				margin-left: 10px;
				margin-top: 0px;
				}
			}
		}
	}
	
	#position-aleatoire{
		background-color:#808080;
		margin-left:400px;
		font-family: "bebasneue-webfont";
		font-size: 24px;
		width: 270px;
		margin-bottom: 30px;
		
		.numero{
		text-align: center;
		padding-top:5px;
		padding-bottom: 5px;
		
		a:hover{
		color: white;
		}
		}
	}
	
	#pousse-gauche{
		margin-left:170px;
	}
	
	#pousse-gauche2{
		margin-left:396px;
	}


	#follow{
	margin-top:-345px;
	margin-left:910px;
	height:  24px;
	width: 90px;
	background-color: #808080;
	
	.follow:hover{
		background-color: black;
	}
	
	.texte{
		font-family: "gotham";
		font-weight: bold;
		font-size: 16px;
		color: #FFF;
		padding-left: 8px;
		padding-top:2px;
	}
	
	.texte2{
		font-family: "gotham";
		font-weight: bold;
		font-size: 16px;
		color: #FFF;
		padding-left: 12px;
		padding-top:2px;
	
	}
	.arrow-left{
		margin-top:-20px;
		padding-left: 78px;
	 	width: 0; 
	 	height: 0; 
	 	border-top: 12px solid transparent;
	 	border-bottom: 12px solid transparent; 
	 	border-right:12px solid white;
	}
	
	}	
   	#catcat{
	margin-top:-305px;
	margin-left:910px;
	height:65px;
	width:90px;
	background-color:#AAD0FF;
	
	 .arrow-left{
		padding-left:58px;
	 	width: 0; 
	 	height: 0; 
	 	border-top: 32px solid transparent;
	 	border-bottom: 34px solid transparent; 
	 	border-right:32px solid white;
	 }
	.image{
	margin-left:10px;
	margin-top:-48px;
	}
	}
	
	#start{

		font-family:"bebasneue-webfont";
		font-size:28px;
		margin-left:335px;
		margin-top:50px;
		margin-bottom: 0px;
		width:240px;
		color:black;
	}
	
	.tour-gauche{
	background-color:#AAD0FF;
	margin-top:20px;
	width: 383px;
	min-height:52px;
	margin-left:150px;
	
	.image{
		padding: 5px 5px 5px 5px;
		img { width: 42px; height:35px;}
		
		.name{
		font-family:"gotham";
		font-size:18px;
		color:#000000;
		}
	}
	}
	
	.tour-droite{
	background-color:#FF7575;
	margin-top:20px;
	width: 383px;
	min-height:52px;
	margin-left:401px;
	
	.image{
		padding: 5px;
		img { width: 42px; height:35px;}
		
		.name{
		font-family:"gotham";
		font-size:18px;
		color:#000000;
		}
	}
	}
}


#fc{
	#fc-title{
		width: 760px;
		min-height: 460px;
		background-color:#C9C9C9;
		margin: 30px 0px 30px 150px;
		word-wrap:break-word;
	
		
		#fc-gauche{
			margin-left: 35px;
			width:140px;
			margin-bottom: 15px;
			margin-top:15px;
			
			#equipe{
			height:40px;
			background-color:#AAD0FF;
			width: 140px;
			font-family: "gotham";
			font-size: 15px;
			text-align: center;
			padding-top:5px;
			margin-bottom:15px;

			}
			
			#equipe3{
			height:40px;
			background-color:#CCE6FF;
			width: 140px;
			font-family: "gotham";
			font-size: 15px;
			text-align: center;
			padding-top:5px;
			margin-bottom:15px;
			margin-top: 30px;
			}
			
			.image1{
			width: 140px;
			img { width: 140px; height:150px;}
			border-bottom: 1px solid white;
				
				.image2{
					margin-bottom:10px;
				}
			}
			
			.invitation-fermer3-fc{
				.texte{
				padding-top: 5px;
				font-family: "gotham";
				font-size: 13px;
				text-align: center;
				}
				
				.select{
				background-color:#C9C9C9;
				}
				
				#fermer-invitation-fc{
				padding:5px;
				color: #808080;
				background-color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 100px;
				margin-top: -38px;
				cursor: pointer;
				}
				
				#fermer-invitation3-fc{
				padding:5px;
				color: #808080;
				background-color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 100px;
				margin-top: -38px;
				cursor: pointer;
				}
				
				.act{
				background-color:#808080;
				color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 10px;
				}
			}

			.invitation-fermer-fc{
				.texte{
				padding-top: 5px;
				font-family: "gotham";
				font-size: 13px;
				text-align: center;
				}
				
				.select{
				background-color:#C9C9C9;
				}
				
				#fermer-invitation-fc{
				padding:5px;
				color: #808080;
				background-color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 100px;
				margin-top: -38px;
				cursor: pointer;
				}
				
				#fermer-invitation3-fc{
				padding:5px;
				color: #808080;
				background-color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 100px;
				margin-top: -38px;
				cursor: pointer;
				}
				
				.act{
				background-color:#808080;
				color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 10px;
				}
			}
			
			
			.first_user{
			padding-top: 5px;
			font-family: "gotham";
			font-size: 16px;
			text-align: center;
			width: 140px;
			border-bottom: 5px solid white;
			margin-bottom:15px;
			
				.texte{
				margin-bottom:10px;
				}
				
				#invitation-fc{
				cursor: pointer;
				}
				#invitation3-fc{
				cursor: pointer;
				}
			}
			
			.first_grade{
				margin-top: 10px;
				width: 140px;
				height:30px;
				background-color: #808080;
				font-family: "bebasneeue-webfont";
				font-size: 24px;
				color: white;
				
					.texte{
					text-align: center;
					padding-top:5px;
					}
			}
		}
		
		#fc-droite{
			margin-left: 43px;
			width: 140px;
			margin-top: 15px;
			margin-bottom: 15px;
			
			#equipe2{
			height:40px;
			background-color:#FF6969;
			width: 140px;
			font-family: "gotham";
			font-size: 15px;
			text-align: center;
			padding-top:5px;
			margin-bottom:15px;
			}
			
			#equipe4{
			height: 40px;
			background-color:#FFA1A1;
			width: 140px;
			font-family: "gotham";
			font-size: 15px;
			text-align: center;
			padding-top:5px;
			margin-bottom:15px;
			margin-top: 30px;
			}
			
			.image1{
			width: 140px;
			img { width: 140px; height:150px;}
			border-bottom: 1px solid white;
				
				.image2{
					margin-bottom:10px;
				}
			}
			
			.second_user{
			padding-top: 5px;
			font-family: "gotham";
			font-size: 16px;
			text-align: center;
			width: 140px;
			border-bottom: 5px solid white;
			margin-bottom:15px;
				
				.texte{
				margin-bottom:10px;
				}
				
				#invitation1-fc{
				cursor: pointer;
				}

				#invitation4-fc{
				cursor: pointer;
				}
			}
			
			.invitation-fermer1-fc{
				.texte{
				padding-top: 5px;
				font-family: "gotham";
				font-size: 13px;
				text-align: center;
				}
				
				.select{
				background-color:#C9C9C9;
				}
				
				#fermer-invitation1-fc{
				padding:5px;
				color: #808080;
				background-color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 100px;
				margin-top: -38px;
				cursor: pointer;
				}
				
				.act{
				background-color:#808080;
				color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 10px;
				}
			}
			
			
			.invitation-fermer4-fc{
				.texte{
				padding-top: 5px;
				font-family: "gotham";
				font-size: 13px;
				text-align: center;
				}
				
				.select{
				background-color:#C9C9C9;
				}
				
				#fermer-invitation4-fc{
				padding:5px;
				color: #808080;
				background-color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 100px;
				margin-top: -38px;
				cursor: pointer;
				}
				
				.act{
				background-color:#808080;
				color: black;
				font-family: "bebasneue-webfont";
				font-size: 16px;
				margin-left: 10px;
				}
			}
			.second_grade{
				margin-top: 10px;
				width: 140px;
				height:30px;
				background-color: #808080;
				font-family: "bebasneeue-webfont";
				font-size: 24px;
				color: white;
				
					.texte{
					text-align: center;
					padding-top:5px;
					}
			}
		}
		
		
		#fc-milieu{
			margin-left:2px;
			width:400px;
			#fc-image-superieure{
				height:254px;
				margin: 15px 0px 15px 0px;
				img { width: 420px; height:254px;}

				.image{
				}

				.image-sign{
					img { width: 50px; height:49px;}
					margin-top:-145px;
					margin-left: 175px;
				}

			}
			
			#fc-milieu-1{
				font-family:"gotham";
				font-size: 23px;
				font-color: black;
				line-height: 23px;
				margin-left: 0px;
				margin-right:0px;



					.title{
					padding-top:5px;
					padding-right: 10px;
					text-align: left;
					 letter-spacing:-1px;
					line-height: 25px;
					}
				}

				#fc-milieu-4{
				margin-left: 0px;
				margin-right:0px;
				margin-top:15px;
				font-family : "gotham";
				font-size : 18px;
				font-weight: bold;
				color: white;
					.tags{
					color: white;
					}

				li{
				margin-right: 5px;
				display : inline-block;
				}

				}
				
				#fc-milieu-2{
				margin-top: 15px;
				font-family: "georgia";
				font-style: italic;
				font-size: 14px;
				margin-left: 0px;
				margin-right:0px;

					.content{
					text-align: left;
					}
				}

				#fc-milieu-3-b{
				margin-left: 0px;
				margin-right:0px;
					margin-top: 15px;
					padding-bottom: 10px;

					div{
					display: inline-block;
					}
						a:hover{
						color:#000000;
						}


						.moitie-gauche{
						width:190px;
						background-color: #808080;
						height: 35px;
						font-family: "gotham";
						font-size: 18px;
						color: white;
						text-align: center;

							.rapport-gauche{
							height:29px;
							padding: 7px 5px 0px 5px;
							background-color: white;
							color: black;
							font-family: "georgia";
							font-size: 16px;
							font-style: italic;
							font-weight: bold;
							float: left;
							}
							.pour-truc{
							padding-top: 7px;
								.pour-first{
								text-align: center;
								color: white;

								}
							}
						}


						.moitie-gauche1{
						width:190px;
						background-color: #AAD0FF;
						height: 35px;
						font-family: "gotham";
						font-size: 18px;
						color: white;
						text-align: center;						
							.rapport-gauche{
							height:29px;
							padding: 7px 5px 0px 5px;
							background-color: white;
							color: black;
							font-family: "georgia";
							font-size: 16px;
							font-style: italic;
							font-weight: bold;
							float: left;
							}
						  .pour-truc{
						  padding-top: 7px;
						  	.pour-first{
						  	text-align: center;
						  	color: white;

						  	}
						  }						

						}


						.moitie-droite{
						float:right;
						width:190px;
						background-color: #808080;
						height: 35px;
						font-family: "gotham";
						font-size: 18px;
						color: white;
						text-align: center;

							.rapport-droite{
							height:29px;
							padding: 7px 5px 0px 5px;
							background-color: white;
							color: black;
							font-family: "georgia";
							font-size: 16px;
							font-style: italic;
							font-weight: bold;
							float: right;
							}
							.pour-truc{
							padding-top: 7px;
								.pour-second{
								text-align: center;
								color: white;

								}
							}
						}


						.moitie-droite1{
						float:right;
						width:190px;
						background-color: #FF6969;
						height: 35px;
						font-family: "gotham";
						font-size: 18px;
						color: white;
						text-align: center;						
							.rapport-droite{
							height:29px;
							padding: 7px 5px 0px 5px;
							background-color: white;
							color: black;
							font-family: "georgia";
							font-size: 16px;
							font-style: italic;
							font-weight: bold;
							float: right;
							}
						  .pour-truc{
						  padding-top: 7px;
						  	.pour-second{
						  	text-align: center;
						  	color: white;

						  	}
						  }						

						}

					}
				
				#fc-milieu-3{
				margin-left: 0px;
				margin-right:0px;
					margin-top: 15px;
					padding-bottom: 10px;
					border-bottom: 9px solid white;

					div{
					display: inline-block;
					}
						a:hover{
						color:#000000;
						}


						.moitie-gauche{
						width:190px;
						background-color: #808080;
						height: 35px;
						font-family: "gotham";
						font-size: 18px;
						color: white;
						text-align: center;

							.rapport-gauche{
							height:29px;
							padding: 7px 5px 0px 5px;
							background-color: white;
							color: black;
							font-family: "georgia";
							font-size: 16px;
							font-style: italic;
							font-weight: bold;
							float: left;
							}
							.pour-truc{
							padding-top: 7px;
								.pour-first{
								text-align: center;
								color: white;

								}
							}
						}


						.moitie-gauche1{
						width:190px;
						background-color: #CCE6FF;
						height: 35px;
						font-family: "gotham";
						font-size: 18px;
						color: white;
						text-align: center;						
							.rapport-gauche{
							height:29px;
							padding: 7px 5px 0px 5px;
							background-color: white;
							color: black;
							font-family: "georgia";
							font-size: 16px;
							font-style: italic;
							font-weight: bold;
							float: left;
							}
						  .pour-truc{
						  padding-top: 7px;
						  	.pour-first{
						  	text-align: center;
						  	color: black;

						  	}
						  }						

						}


						.moitie-droite{
						float:right;
						width:190px;
						background-color: #808080;
						height: 35px;
						font-family: "gotham";
						font-size: 18px;
						color: white;
						text-align: center;

							.rapport-droite{
							height:29px;
							padding: 7px 5px 0px 5px;
							background-color: white;
							color: black;
							font-family: "georgia";
							font-size: 16px;
							font-style: italic;
							font-weight: bold;
							float: right;
							}
							.pour-truc{
							padding-top: 7px;
								.pour-second{
								text-align: center;
								color: white;

								}
							}
						}


						.moitie-droite1{
						float:right;
						width:190px;
						background-color: #FFA1A1;
						height: 35px;
						font-family: "gotham";
						font-size: 18px;
						color: white;
						text-align: center;						
							.rapport-droite{
							height:29px;
							padding: 7px 5px 0px 5px;
							background-color: white;
							color: black;
							font-family: "georgia";
							font-size: 16px;
							font-style: italic;
							font-weight: bold;
							float: right;
							}
						  .pour-truc{
						  padding-top: 7px;
						  	.pour-second{
						  	text-align: center;
						  	color: white;

						  	}
						  }						

						}

					}


				#fc-milieu-5{
				font-family:"bebasneue-webfont";
				font-size:28px;
				margin-left: 70px;
				margin-right:15px;
				margin-top:10px;
				margin-bottom:15px;
				
				.stat1{
					.image{
					padding-bottom:5px;
					margin-left:7px;
					margin-right: 20px;
					}
				}
				.stat2{
				margin-left: 10px;
				margin-top: 0px;
				}
				}
		}
	}
	
	
	#position-aleatoire{
		background-color:#808080;
		margin-left:400px;
		font-family: "bebasneue-webfont";
		font-size: 24px;
		width: 270px;
		margin-bottom: 30px;
		
		.numero{
		text-align: center;
		padding-top:5px;
		padding-bottom: 5px;
		
		a:hover{
		color: white;
		}
		}
	}
	
	#pousse-gauche{
		margin-left:170px;
	}
	
	#pousse-gauche2{
		margin-left:396px;
	}
	
	#follow{
	margin-top:-383px;
	margin-left:910px;
	height:  24px;
	width: 90px;
	background-color: #808080;
	
	.follow:hover{
		background-color: black;
	}
	.texte{
		font-family: "gotham";
		font-weight: bold;
		font-size: 16px;
		color: #FFF;
		padding-left: 8px;
		padding-top:2px;
		
	}
	
	.texte2{
		font-family: "gotham";
		font-weight: bold;
		font-size: 16px;
		color: #FFF;
		padding-left: 12px;
		padding-top:2px;
	
	}
	.arrow-left{
		margin-top:-20px;
		padding-left: 78px;
	 	width: 0; 
	 	height: 0; 
	 	border-top: 12px solid transparent;
	 	border-bottom: 12px solid transparent; 
	 	border-right:12px solid white;
	}
	
	}
	
   	#catcat{
	margin-top:-343px;
	margin-left:910px;
	height:65px;
	width:90px;
	background-color:#AAD0FF;
	
	 .arrow-left{
		padding-left:58px;
	 	width: 0; 
	 	height: 0; 
	 	border-top: 32px solid transparent;
	 	border-bottom: 34px solid transparent; 
	 	border-right:32px solid white;
	 }
	.image{
	margin-left:10px;
	margin-top:-48px;
	}
	}
	
	#start{

		font-family:"bebasneue-webfont";
		font-size:28px;
		margin-left:335px;
		margin-top:50px;
		margin-bottom: 0px;
		width:240px;
		color:black;
	}
	
	.tour-gauche{
	background-color:#AAD0FF;
	margin-top:20px;
	width: 383px;
	min-height:52px;
	margin-left:150px;
	
	.image{
		padding: 5px 5px 5px 5px;
		img { width: 42px; height:35px;}
		
		.name{
		font-family:"gotham";
		font-size:18px;
		color:#000000;
		}
	}
	}
	
	.tour-droite{
	background-color:#FF7575;
	margin-top:20px;
	width: 383px;
	min-height:52px;
	margin-left:401px;
	
	.image{
		padding: 5px;
		img { width: 42px; height:35px;}
		
		.name{
		font-family:"gotham";
		font-size:18px;
		color:#000000;
		}
	}
	}
}


