#open-debate{
	
	#title{
	background-color: #EEE;
	height:300px;
	
	#image{
	background-color: #7F7F7F;
	height:250px;
	margin: 20px 20px 20px 20px;
	}
	
	#title2{
	margin-top:20px;
	
	#vote{
	background-color: #3C3C3B;
	height:40px;
	width:50px;
	text-align: center;
	margin-top:20px;
	
		.vote2{
		color: $mainColor;
		}
	}
	#blank{
	width:90%;
	height: 10px;
	background-color:#FFF;
	margin-top:10px;
	margin-left: 0px;
	}
	}
	
	}
}