#open-debate{
	#gauche-ouvert{
	width: 390px;
	}
	
	#title{
	background-color: #C9C9C9;
	min-height:260px;
	width: 780px;
	margin-top:20px;
	margin-left:62px;
	margin-bottom: 30px;
	
		.image1{
		background-color: #C9C9C9;
		height:222px;
		width:374px;
		margin-top:20px;
		margin-left:15px;
		
			.image{
			img { width: 374px; height:222px;}
				position:relative;
				z-index: 1;
			}
			.image2{
			margin-top:-244px;

			}
			
		#stats2{
		width:293px;
		margin-top:-60px;
		margin-left:43px;
		
		.reslutats-oui{
		background-color: #AAD0FF;
		height: 21px;
		width: 88px;
		padding-top:5px;
		position:relative;
		z-index: 5;
		
		.oui1{
		font-family: "bebasneue-webfont";
		font-size: 18px;
		padding: 0px 5px 0px 5px;
		color: white;
		letter-spacing:1px;
		}
		
		.oui3{
		font-family: "georgia";
		font-size: 18px;
		font-weight: bold;
		color: #808080;
		margin: -20px 0px 0px 32px;
		}
		
		.oui2{
		font-family: "georgia";
		font-size: 16px;
		font-weight: bold;
		font-style: italic;
		margin: -18px 0px 0px 45px;
		color: white;
		}
		}
		
		.reslutats-suisse{
		background-color: #C9C9C9;
		height: 21px;
		width: 85px;
		margin: - 26px 0px 0px 103px;
		padding-top:5px;
		position:relative;
		z-index: 5;
		
		.suisse1{
		font-family: "bebasneue-webfont";
		font-size: 18px;
		padding: 0px 5px 0px 5px;
		color: white;
		}
		
		.suisse3{
		font-family: "georgia";
		font-size: 18px;
		font-weight: bold;
		color: #808080;
		margin: -20px 0px 0px 33px;
		}
		
		.suisse2{
		font-family: "georgia";
		font-size: 16px;
		font-weight: bold;
		font-style: italic;
		margin: -18px 0px 0px 45px;
		color: white;
		}
		}

		.reslutats-non{
		background-color: #FF6969;
		height: 21px;
		width: 85px;
		margin: - 26px 0px 0px 202px;
		padding-top:5px;
		position:relative;
		z-index: 5;
		
		.non1{
		font-family: "bebasneue-webfont";
		font-size: 18px;
		padding: 0px 5px 0px 5px;
		color: white;
		}
		
		.non3{
		font-family: "georgia";
		font-size: 18px;
		font-weight: bold;
		color: #808080;
		margin: -20px 0px 0px 33px;
		}
		
		.non2{
		font-family: "georgia";
		font-size: 16px;
		font-weight: bold;
		font-style: italic;
		margin: -18px 0px 0px 45px;
		color: white;
		}
		}

		
		}
		}
	
	}
	
	#droite-ouvert{

		width:350px;	
		margin-left:-1px;
		margin-top: 15px;
		margin-left:40px;
				
		#title2{
		font-family: "gotham";
		font-size: 23px;
		text-align: left;
		line-height: 23px;
		 letter-spacing:-1px;
		
		
		}

		#tags_list_doulin{
		margin-top:10px;
		font-family : "gotham";
		font-size : 18px;
		font-weight: bold;
		color: white;
			.tags{
			color: white;
			}
		
		li{
		margin-right: 5px;
		display : inline-block;
		}
		
		}

		#content{
			margin-right:5px;
			margin-top:10px;
			font-family:georgia;
			font-size:14px;
			font-style: italic;
				.content{
				padding-bottom:10px;
				}
			border-bottom:8px solid white;
		}

		#vote{
		height: 35px;
		margin-top: 15px;
		margin-right:5px;	
		border-bottom:8px solid white;
		
		li{
		display : inline-block;
		}
		
		.vote2{
			font-family:"gotham";
			font-size:25px;

		}

		.oui-oui{
			margin-top: -5px;
			margin-left:30px;
			background-color: #808080;
			font-family: "bebasneue-webfont";
			font-size: 25px;
			padding: 5px 9px 5px 9px;
			
			.oui{
			color: white;
			}
		}
		
		.oui-oui:hover{
		background-color: #AAD0FF;
		}
		.oui-oui2{
			margin-top: -5px;
			margin-left:30px;
			background-color: #AAD0FF;
			font-family: "bebasneue-webfont";
			font-size: 25px;
			padding: 5px 9px 5px 9px;
			
			.oui{
			color: white;
			}
		}
		
		.suisse-suisse{
			margin-top: -5px;
			margin-left:8px;
			background-color: #FF6969;
			font-family: "bebasneue-webfont";
			font-size: 25px;
			padding: 5px 12px 5px 12px;
			
			.suisse{
			color: white;
			}
		}
		
		.suisse-suisse:hover{
		background-color: #808080;
		}
		.suisse-suisse2{
			margin-top: -5px;
			margin-left:8px;
			background-color: #808080;
			font-family: "bebasneue-webfont";
			font-size: 25px;
			padding: 5px 12px 5px 12px;
			
			.suisse{
			color: white;
			}
		}
		
		.non-non{
			margin-top: -5px;
			margin-left:8px;
			background-color: #FFF;
			font-family: "bebasneue-webfont";
			font-size: 25px;
			padding: 5px 9px 5px 9px;
			
			.non{
			color: black;
			}
		}
			
			.non-non:hover{
			background-color: #FF6969;
			}
			
			.non-non2{
				margin-top: -5px;
				margin-left:8px;
				background-color: #FF6969;
				font-family: "bebasneue-webfont";
				font-size: 25px;
				padding: 5px 9px 5px 9px;

				.non{
				color: black;
				}
			}	
		}

		#stats{
		font-family:"bebasneue-webfont";
		font-size:28px;

		.stat1{
			margin-top:10px;
			margin-bottom: 10px;

			.image{
			padding-bottom:5px;
			margin-left:7px;
			margin-right: 20px;
			}
		}

		.stat2{
		margin-left: 10px;
		margin-top: 0px;
		}
		}
	}
	
	#follow{
	margin-top:-235px;
	margin-left:942px;
	height:  24px;
	width: 90px;
	background-color: #808080;
	
	.texte{
		font-family: "gotham";
		font-weight: bold;
		font-size: 16px;
		color: #FFF;
		padding-left: 8px;
		padding-top:2px;
	}

	.texte2{
		font-family: "gotham";
		font-weight: bold;
		font-size: 16px;
		color: #FFF;
		padding-left: 12px;
		padding-top:2px;
		
		.texte:hover{
			color: black;
		}
	}
	.follow:hover{
		background-color: black;
	}
	
	
	.arrow-left{
		margin-top:-20px;
		padding-left: 78px;
	 	width: 0; 
	 	height: 0; 
	 	border-top: 12px solid transparent;
	 	border-bottom: 12px solid transparent; 
	 	border-right:12px solid white;
	}
	
	}
	
	
	#catcat{
	margin-top:-195px;
	margin-left:942px;
	height:65px;
	width:90px;
	background-color:#AAD0FF;
	
	 .arrow-left{
		padding-left:58px;
	 	width: 0; 
	 	height: 0; 
	 	border-top: 32px solid transparent;
	 	border-bottom: 34px solid transparent; 
	 	border-right:32px solid white;
	 }
	.image{
	margin-left:10px;
	margin-top:-48px;
	}
	}
	
	
	
	#voter{
	margin-left:162px;
	height:40px;
	background-color: #C9C9C9;
	margin-bottom: 10px;
	width: 780px;
	font-family: "gotham";
	font-size:18px;
	text-align: center;
	
		.texte{
			padding-top:10px;
			font-family: "gotham";
			font-size:22px;
			color: #000;
			text-align: center;
		}
	.texte-newarg{
	padding-top:10px;
	font-family: "gotham";
	font-size:18px;
	color: #000000;
	text-align: center;
	}
	
	.texte2-newarg{
	padding-top:10px;
	font-family: "gotham";
	font-size:18px;
	color: #000000;
	text-align: center;
	}
	
	.arrow-up-newarg {
		margin-left:700px;
		margin-top:-18px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		cursor:  pointer;
		border-bottom: 15px solid #FFF;
	}

	.arrow-down-newarg {
		margin-left:700px;
		margin-top:-15px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		cursor:  pointer;
		border-top: 15px solid #FFF;
	}
	}

	.edit0{
	width:30px;
	height:15px;
	background-color:white;
	border-radius:0px;
	}
		
	.edit1{
	width:280px;
	height:30px;
	background-color:white;
	border-radius:0px;
	}
	
	.edit3{
	background-color: #808080;
	color: #000000;
	font-family:"bebasneue-webfont";
	font-size:22px;
	}
	
	
	#arguments-debate{
		margin-left: 162px;
		
		.contre{
		margin-left: 246px;
		}
		
		.suisse{
		margin-left: 123px;
		}
	}
	
	#box-argument{
		margin-left: 142px;
		
		.contre{
		margin-left: 246px;
		}
		
		.suisse{
		margin-left: 123px;
		}
	}	
}



#voting-bar{
	background-color: #FFF;
	margin-left: -24px;
	margin-top:0px;
	width: 300px;
	height: 20px;
	
	.zero{
	background-color: #808080;
	margin-left: 0px;
	width: 300px;
	height: 20px;
	}	
	.cinq{
	background-color: #808080;
	margin-left: 0px;
	width: 15px;
	height: 20px;
	}
	.dix{
	background-color: #808080;
	margin-left: 0px;
	width: 30px;
	height: 20px;
	}
	.quinze{
	background-color: #808080;
	margin-left: 0px;
	width: 45px;
	height: 20px;
	}
	.vingt{
	background-color: #808080;
	margin-left: 0px;
	width: 60px;
	height: 20px;
	}	
	.vingt-cinq{
	background-color: #808080;
	margin-left: 0px;
	width: 75px;
	height: 20px;
	}
	.trente{
	background-color: #808080;
	margin-left: 0px;
	width: 90px;
	height: 20px;
	}
	.trente-cinq{
	background-color: #808080;
	margin-left: 0px;
	width: 105px;
	height: 20px;
	}	
	.quarante{
	background-color: #808080;
	margin-left: 0px;
	width: 120px;
	height: 20px;
	}	
	.quarante-cinq{
	background-color: #808080;
	margin-left: 0px;
	width: 135px;
	height: 20px;
	}
	.cinquante{
	background-color: #808080;
	margin-left: 0px;
	width: 150px;
	height: 20px;
	}
	.cinquante-cinq{
	background-color: #808080;
	margin-left: 0px;
	width: 165px;
	height: 20px;
	}
	.soixante{
	background-color: #808080;
	margin-left: 0px;
	width: 180px;
	height: 20px;
	}	
	.soixante-cinq{
	background-color: #808080;
	margin-left: 0px;
	width: 195px;
	height: 20px;
	}
	.septante{
	background-color: #808080;
	margin-left: 0px;
	width: 210px;
	height: 20px;
	}
	.septante-cinq{
	background-color: #808080;
	margin-left: 0px;
	width: 225px;
	height: 20px;
	}	
	.octante{
	background-color: #808080;
	margin-left: 0px;
	width: 240px;
	height: 20px;
	}	
	.octante-cinq{
	background-color: #808080;
	margin-left: 0px;
	width: 255px;
	height: 20px;
	}
	.nonante{
	background-color: #808080;
	margin-left: 0px;
	width: 270px;
	height: 20px;
	}
	.nonante-cinq{
	background-color: #808080;
	margin-left: 0px;
	width: 285px;
	height: 20px;
	}
	.cent{
	background-color: #808080;
	margin-left: 0px;
	width: 0px;
	height: 20px;
	}
}



#debate-form{


.emotion{

.input_hidden {
    position: absolute;
    left: -9999px;
}

.selected {
    background-color: #AAD0FF;
}

label {
    display: inline-block;
    cursor: pointer;
}

label img {
    padding: 3px;
}

}
 	#intro-newdebate{
 		width: 900px;
 		margin-top: 30px;
 		text-align: center;
 		margin-left: 80px;
 		
 		.texte2{
 		font-family: "georgia";
 		font-style: italic;
 		font-weight: bold;
 		font-size: 20px;
 		color: #000;
 		margin-bottom: 20px;
 		}
 	}


	#title-new{
	margin-left: 130px;
	margin-top: 15px;
	width: 800px;
	height: 275px;
	background-color: #AAD0FF;

		#title-new2{
		margin-top: 15px;
		margin-left: 15px;
		width: 770px;

		::-webkit-input-placeholder {
		   font-family: "gotham";
			font-size: 19px;
			letter-spacing: 1px;
		}

		.title{
		background-color: white;
		border: none;
		border-radius: 0px;
		width: 750px;
		height: 38px;
		font-family: "gotham";
		font-size: 20px;
		font-style: italic;
		color: black;
		}
		}
		
		
		
		#maincontent-new{
		margin-left: 15px;
		margin-top:0px;
		width: 770px;
		padding-bottom: 10px;
		border-bottom: 4px solid white;

			#content1{
			width: 380px;
			margin-left:0px;
			float:right;
			
					
					#tags_challenge{
					margin-top: 8px;
					width: 380px;
					margin-left:0px;

					::-webkit-input-placeholder {
					   font-family: "gotham";
						font-size: 19px;
						letter-spacing: 0px;
					}

						.tags{
						border-radius: 0px;
						border: none;
						background-color: white;
						font-family: "georgia";
						font-style: italic;
						color: black;
						font-size: 16px;
						height: 30px;
						width: 360px;
						}
					}
					
					#category_list{
					background-color: #C9C9C9;
					margin-left: 0px;
					margin-top: 5px;
                
					.intro{
					padding-top:5px;
					font-family: "gotham";
					color: white;
					font-size: 18px;
					padding-left: 10px;
					margin-bottom: 8px;
					}
                
					.choix1{
					margin-left: 10px;
					}
					label{
					display: inline-block;
					padding-left: 6px;
					}
                
					}
			}
			
			#content2{
			margin-top: 5px;
			margin-left: 0px;
			width: 370px;

				#rajouter-image{
				margin-left:0px;
				font-family: "gotham";
				
					.field-image{
					border-radius:0px;
					font-family: "gotham";
					font-size: 13px;
					}
					
					
				}
				#description-challenge{
				margin-left:0px;
				width: 370px;

				::-webkit-input-placeholder {
				   font-family: "gotham";
					font-size: 22px;
					letter-spacing: 0px;
				}

					.description{
					height: 107px;
					background-color: white;
					border: none;
					font-family: "georgia";
					color: black;
					border-radius: 0px;
					width: 362px;
					resize:none;
					font-size: 16px;
					font-style: italic;
					padding-left: 5px;
					}

				}
			}
			
		}
	}
	
	#submit-challenge{
	margin-left: 340px;
	margin-top: 15px;

	.action{
	border: none;
	border-radius:0px;
	background-color: black;
	text-align: center;
	color: white;
	font-family: "gotham";
	font-size: 22px;
	width: 380px;
	padding-top: 0px;
	height:30px;
	}
	}
	
	#openning-context{
	background-color:#AAD0FF;
	height:40px;
	margin-left: 150px;
	margin-top: 15px;
	width: 800px;
	margin-bottom: 5px;
	
	.texte{
	padding-top:10px;
	font-family: "gotham";
	font-size:18px;
	color: #000000;
	text-align: center;
	}
	
	.arrow-up-context {
		margin-left:700px;
		margin-top:-18px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		cursor:  pointer;
		border-bottom: 15px solid #FFF;
	}

	.arrow-down-context {
		margin-left:700px;
		margin-top:-15px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		cursor:  pointer;
		border-top: 15px solid #FFF;
	}
	}
	
	#effective-context{
	background-color:#EEE;
	min-height:300px;
	width: 485px;
	margin-top:20px;
	margin-left:470px;
	margin-bottom: 10px;
		.text{
		font-family:"georgia";
		font-size: 14px;
		text-align: justify;
		padding: 10px 25px 10px 25px;
		}
	}
	.edit2{
	margin-top:15px;
	width:430px;
	height:490px;
	background-color:white;
	border-radius:0px;
	resize: none;
	}
}