#doulin{
	
	#title{
	background-color: #C9C9C9;
	min-height:270px;
	width: 785px;
	margin-top:20px;
	margin-left:70px;
	margin-bottom: 15px;
	
		.image1{
		img { width: 150px; height:150px;}
		width:150px;
		margin-top:15px;
		margin-left:15px;
		border-bottom: 2px solid #FFF;
			.image{
			padding-bottom:4px;
			}
		}
		
		.image2{
		img { width: 150px; height:150px;}
		width:150px;
		margin-top:15px;
		margin-right:15px;
		border-bottom: 2px solid #FFF;
			.image{
			padding-bottom:4px;
			}
		}
		
		
		.first_user{
		width:150px;
		font-family:"gotham";
		text-align: center;
		font-size:18px;
		margin-top:7px;
		margin-left:15px;
		color:black;
		
		a:hover{
		color:$mainColor;
		}
		
		
		
		
		.desc{
		font-family:"georgia";
		font-size:14px;
		}
		}
		
		.second_user{
		width:150px;
		font-family:"gotham";
		text-align: center;
		font-size:18px;
		margin-top:7px;
		margin-left:0px;
		color:black;

		
		a:hover{
		color:$mainColor;
		}
		
		.desc{
		font-family:"georgia";
		font-size:14px;
		}
		}
	}
	
	#title2{
		margin-top:15px;
		margin-right:0px;
		margin-left: 30px;
		width: 420px;

				
		.title3{
		text-align: left;
		 font-family:"gotham";
		 line-height:20px;
		 font-size:23px;
		 color:#000000;
		 letter-spacing:-1px;
		line-height: 25px;
		}
		
		
		#tags_list_doulin{
		margin-left: 0px;
		margin-top:15px;
		font-family : "gotham";
		font-size : 18px;
		color: white;
		
		li{
		margin-right: 5px;
		display : inline-block;
		}
		
		}
		#content{
			margin-top: 15px;
			text-align:left;
			font-family:georgia;
			font-size:14px;
			font-style: italic;	
		}
		
		#vote{
		margin-left: 0px;
		margin-top: 15px;
		padding-bottom: 10px;
		border-bottom: 9px solid white;
		
		div{
		display: inline-block;
		}
			a:hover{
			color:#000000;
			}


			.moitie-gauche{
			width:205px;
			background-color: #808080;
			height: 35px;
			font-family: "gotham";
			font-size: 18px;
			color: white;
			text-align: center;

				.rapport-gauche{
				height:29px;
				padding: 7px 5px 0px 5px;
				background-color: white;
				color: black;
				font-family: "georgia";
				font-size: 16px;
				font-style: italic;
				font-weight: bold;
				float: left;
				}
				.pour-truc{
				padding-top: 7px;
					.pour-first{
					text-align: center;
					color: white;
					
					}
				}
			}


			.moitie-gauche1{
			width:205px;
			background-color: #AAD0FF;
			height: 35px;
			font-family: "gotham";
			font-size: 18px;
			color: white;
			text-align: center;						
				.rapport-gauche{
				height:29px;
				padding: 7px 5px 0px 5px;
				background-color: white;
				color: black;
				font-family: "georgia";
				font-size: 16px;
				font-style: italic;
				font-weight: bold;
				float: left;
				}
			  .pour-truc{
			  padding-top: 7px;
			  	.pour-first{
			  	text-align: center;
			  	color: white;
              
			  	}
			  }						

			}


			.moitie-droite{
			float:right;
			width:205px;
			background-color: #808080;
			height: 35px;
			font-family: "gotham";
			font-size: 18px;
			color: white;
			text-align: center;

				.rapport-droite{
				height:29px;
				padding: 7px 5px 0px 5px;
				background-color: white;
				color: black;
				font-family: "georgia";
				font-size: 16px;
				font-style: italic;
				font-weight: bold;
				float: right;
				}
				.pour-truc{
				padding-top: 7px;
					.pour-second{
					text-align: center;
					color: white;
					
					}
				}
			}


			.moitie-droite1{
			float:right;
			width:205px;
			background-color: #FF6969;
			height: 35px;
			font-family: "gotham";
			font-size: 18px;
			color: white;
			text-align: center;						
				.rapport-droite{
				height:29px;
				padding: 7px 5px 0px 5px;
				background-color: white;
				color: black;
				font-family: "georgia";
				font-size: 16px;
				font-style: italic;
				font-weight: bold;
				float: right;
				}
			  .pour-truc{
			  padding-top: 7px;
			  	.pour-second{
			  	text-align: center;
			  	color: white;
              
			  	}
			  }						

			}
		
		}
		
	
		#stats{
		font-family:"bebasneue-webfont";
		font-size:28px;
		margin-left:70px;
		width:370px;
		
		.stat1{
			margin-top:10px;
			margin-bottom: 15px;
			
			.image{
			padding-bottom:5px;
			margin-left:7px;
			margin-right: 20px;
			}
		}
		.stat2{
		margin-left: 10px;
		margin-top: 0px;
		}
		}
	}

	#follow{
	margin-top:-235px;
	margin-left:935px;
	height:  24px;
	width: 90px;
	background-color: #808080;
	
	.texte{
		font-family: "gotham";
		font-weight: bold;
		font-size: 16px;
		color: #FFF;
		padding-left: 8px;
		padding-top:2px;
		
		.texte:hover{
			color: black;
		}
	}
	
	.texte2{
		font-family: "gotham";
		font-weight: bold;
		font-size: 16px;
		color: #FFF;
		padding-left: 12px;
		padding-top:2px;
		
		.texte:hover{
			color: black;
		}
	}
	.arrow-left{
		margin-top:-20px;
		padding-left: 78px;
	 	width: 0; 
	 	height: 0; 
	 	border-top: 12px solid transparent;
	 	border-bottom: 12px solid transparent; 
	 	border-right:12px solid white;
	}
	
	}
	
	#catcat{
	margin-top:-195px;
	margin-left:935px;
	height:65px;
	width:90px;
	background-color:#AAD0FF;
	
	 .arrow-left{
		padding-left:58px;
	 	width: 0; 
	 	height: 0; 
	 	border-top: 32px solid transparent;
	 	border-bottom: 34px solid transparent; 
	 	border-right:32px solid white;
	 }
	.image{
	margin-left:10px;
	margin-top:-48px;
	}
	}
	
	#start{
		font-family:"bebasneue-webfont";
		font-size:28px;
		margin-left:85px;
		margin-top:10px;
		width:240px;
		color:$mainColor;
	}
	
	.tour-gauche{
	background-color:#AAD0FF;
	margin-top:20px;
	width: 534px;
	min-height:70px;
	margin-left:150px;
	
	.image{
		padding: 3px 3px 3px 3px;
		img { width: 50px; height:50px;}
		
		.name{
		font-family:"gotham";
		font-size:18px;
		color:#000000;
		}
	}
	}
	
	.tour-droite{
	background-color:#FF7575;
	margin-top:20px;
	width: 534px;
	min-height:70px;
	margin-left:401px;
	
	.image{
		padding: 3px 3px 3px 3px;
		img { width: 50px; height:50px;}
		
		.name{
		font-family:"gotham";
		font-size:18px;
		color:#000000;
		}
	}
	}
	
	.espace{
	height:30px;
	width: 300px;
	margin-left : 350px;
	margin-top: 75px;
	border-top: 1px solid;
	}
	
	#openning-context{
	background-color:#808080;
	height:30px;
	width: 785px;
	margin-top:20px;
	margin-left:170px;
	margin-bottom: 5px;
	
	.texte{
	padding-top:5px;
	font-family: "gotham";
	font-size:22px;
	color: #000000;
	text-align: center;
	}
	
	.arrow-up-context {
		margin-left:700px;
		margin-top:-18px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		cursor:  pointer;
		border-bottom: 15px solid #FFF;
	}

	.arrow-down-context {
		margin-left:700px;
		margin-top:-15px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		cursor:  pointer;
		border-top: 15px solid #FFF;
	}
	}
	
	#effective-context{
	background-color:#EEE;
	min-height:300px;
	width: 485px;
	margin-top:20px;
	margin-left:470px;
	margin-bottom: 10px;
		.text{
		font-family:"georgia";
		font-size: 14px;
		text-align: justify;
		padding: 10px 25px 10px 25px;
		}
	}
	
	#openning-comments{
	background-color:#808080;
	height:30px;
	width: 785px;
	margin-left:170px;
	margin-bottom: 20px;
	
	.comment-texte1{
	padding-top:5px;
	font-family: "gotham";
	font-size:22px;
	color: #000000;
	text-align: center;
	}
	
	.comment-texte2{
	padding-top:5px;
	font-family: "gotham";
	font-size:22px;
	color: #000000;
	text-align: center;
	}
	
	.arrow-up-comments {
		margin-left:700px;
		margin-top:-18px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		cursor:  pointer;
		border-bottom: 15px solid #FFF;
	}

	.arrow-down-comments {
		margin-left:700px;
		margin-top:-15px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		cursor:  pointer;
		border-top: 15px solid #FFF;
	}
	}
	
	.edit0{
	width:30px;
	height:15px;
	background-color:white;
	border-radius:0px;
	}
	
	.edit1{
	width:350px;
	height:50px;
	background-color:white;
	border-radius:0px;
	}
	
	.edit2{
	width:400px;
	height:500px;
	background-color:white;
	border-radius:0px;
	}
	
	.edit3{
	background-color: #808080;
	color: #000000;
	font-family:"bebasneue-webfont";
	font-size:22px;
	}
	
	#pousse-gauche-bleu{
		margin-left: 170px;
	}
	
	#pousse-gauche-rouge{
		margin-left:421px;
	}
}
