footer {
	position: relative;
	height: 105px;

	#footer2{
	background-color:white;
	margin-left:0px;
	
		#footer3{
		margin-top: 20px;
		height: 75px;
		margin-left:33px;
		margin-right: 33px;
		border-top: 1px Dashed black;
		
		.first{
		margin-left: 34px;
		}
		li{
		margin-top: 30px;
		display: inline-block;
		margin-left: 15px;
		font-family:"georgia";
		font-weight: bold;
		font-size: 15px;
		}
		}
		}
}