header {
  height: 262px;
  position: relative;
  
  #tout-enhaut{
	height: 212px;
	background-color: #AAD0FF;
	margin-left: 0px;
	
	.gauche{
	width: 600px;
	#try2{
		margin-left:33px;
		margin-top: 23px;
	}
	
	#try3{
		margin-left:33px;
		margin-top: 23px;
		
		
		.titre{
			font-family: "gotham";
			font-size: 48px;
			color: black;
			.title{
				color: black;
			}
			
			.titre:hover{
			color: black;
			}
		}
		
		.facebook-page1{
			margin-left:283px;
			margin-top: -19px;
		}
		
		.twitter-page1{
			margin-left:317px;
			margin-top: -29px;
		}
		
		.linkedin-page1{
			margin-left:351px;
			margin-top: -28px;
		}
	}
	
	#try4{
	margin-top: 18px;
	margin-left: 33px;
	
		
		div {
		display: inline-block;
		}
		
	.nom{
		width: 184px;
		height: 22px;
		padding-top: 5px;
		background-color: white;
		font-family: "gotham";
		font-size: 17px;
		text-align: center;
		
	}
	
	.nom2{
		width: 191px;
		height: 23px;
		padding-top: 4px;
		background-color: #A3A3A3;
		color: black;
		font-family: "gotham";
		font-size: 15px;
		text-align: center;
		
		.chiffre{
			font-size: 20px;
			color: white;
			padding-right: 10px;
		}
	}
		
	.login{
	::-webkit-input-placeholder {
	   font-family: "gotham";
	   color: black;
	}
		.login-field{
			width: 168px;
			border-radius: 0px;
			background-color: white;
			font-family: "georgia";
			font-size: 15px;
			color: black;
			height: 25px;
			border: none;
			}
			
			.submit-login{
			border-radius: 0px;
			border: none;
			background-color: black;
			font-family: "gotham";
			font-size: 12px;
			color: white;
			height: 24px;
			}
	  }
	 }
	#try5{
	margin-top: -25px;
	margin-left: 33px;
			.texte{
			width: 184px;
			padding-left: 5px;
			font-family: "gotham";
			font-weight: bold;
			font-size:11px;
			}
		div {
		display: inline-block;
		}
	}
	
	#try6{
	margin-top: 5px;
	margin-left: 33px;

			.texte{
			width: 184px;
			padding-left: 0px;
			font-family: "gotham";
			font-weight: bold;
			font-size:11px;
				text-align: center;
			}
		div {
		display: inline-block;
		}
	}
	}
	
	.droite{
		margin-top: -103px;
		width: 400px;
		float: right;
		margin-right: 25px;
		
			#apprendre{
				float: right;
				height:28px;
				width: 185px;
				background-color:#A3A3A3;
				text-align:center;
				margin-top: 0px;
				font-family: "gotham";
				font-weight: bold;
				color: white;
				font-size: 15px;
				text-align: center;
				padding-top: 7px;
				
					.apprendre{
						color: white;
					}
				}
				
				#search{
				float:right;
				width: 225px;
				margin-top:10px;
				height: 35px;
				
				::-webkit-input-placeholder {
				   font-family: "gotham";
					font-size: 15px;
					font-weight: bold;
					font-color: #A3A3A3;
				}	
					#search-text{
						  text-align: center;
			        	  border-radius: 0px;
						  border: none;
			        	  width: 166px;
			        	  height: 35px;
			        	  font-family: 'georgia';
			        	  font-size:15px;
			        	  color: black;
			        	  background-color:white;
			        	}
					.loupe{
					float:right;
					margin-top: 0px;
					height: 35px;
					width:39px;
					background-color: #A3A3A3;
						.loupe2{
						padding-top:5px;
						padding-left: 5px;
						}
					}
			
				}
	}
}
  




	


    
    #adroite{
	margin-top:37px;
	
	#user-nav {    
	  margin-left:91px;
	  background-color: #000000;
      height:26px;
	  width: 170px;
	  font-family: 'gotham';
	  color: white;
	  text-align:center;
      line-height: 25px;
	  font-size: 15px;
	  margin-bottom: 10px;
	margin-top:50px;
	
	.white{
	color: white;
	}
	
    }

	#deconnecte{
		margin-top: -20px;
		margin-left:111px;
		height: 100px;
		
		.login{
		::-webkit-input-placeholder {
		   font-family: "gotham";
		   color: black;
		}
			.login-field{
				width: 178px;
				border-radius: 0px;
				background-color: white;
				font-family: "gotham";
				font-size: 15px;
				color: black;
				height: 25px;
				}
		}	
	}
	
	#dropdown{
	border-radius: 0px;
	margin-left: 175px;
	margin-top: -25px;
		
	}


	#debat-nav{
	
	#RS{
		width: 200px;
		margin-left:111px;
		margin-top:-33px;
		div{
		display: inline-block;
		}
		
		.motdepasse{
		background-color: #FF6969;
		font-family: "gotham";
		font-size: 15px;
		color: white;
		width: 115px;
		height: 21px;
		padding-top:3px;
		text-align: center;
		}
		
		.submit-login{
		background-color: #C9C9C9;
		color: white;
		font-style: "gotham";
		font-size: 15px;
		height: 24px;
		border-radius: 0px;
		border: none;
		margin-top: 5px;
		}
		
		.facebook-page{
		margin-top: 5px;
		float: right;
		}
	}
	
	#apprendre{
		height:34px;
		width: 200px;
		background-color:#808080;
		text-align:center;
		margin-top: 3px;
		margin-left: 111px;
		
		li {
	        display: inline-block;
	        a {
	          strong {
				font-family: 'gotham';
	            display: block;
	            font-size: 12px;
	            line-height: 35px;
	            @include title;
				color:white;
	          }
	        }
	      }

	      li.active, li:hover {
	        a {
	          text-decoration: none;        
	          strong {
	            color: #000000;
	          }
	        }
		  }
	}
	}
	}
    
	
	#navigation{
	margin-top: 10px;
	margin-left: 60px;
	margin-right: -10px;
	margin-bottom: 7px;
	border-bottom: $borderDashed;
	    font-size: 20px;
	}
	
	#main-nav {
    margin-left:40px;
	margin-top: 10px;
	font-family: "gotham";
	font-size:20px;
	font-color: black;

	.tiret{
	color: #808080;
	font-size: 18px;
	font-family:"georgia";
	font-weight: bold;
	}

    .black{
		color: #000;
	}	
      li {
        display: inline-block;
		padding-right:22px;
      }
	
	.last{
	padding-right:0px;
	}
      li.active, li:hover {
		text-decoration:underline;
      }
    }


}