#presentation1{
width: 772px;
margin: 30px 0px 30px 150px;
}

#intro{
font-family: "georgia";
font-size: 16px;
font-style: italic;
font-weight: bold;
margin-top:23px;
width:1060px;
margin-left: 20px;
text-align: center;
}

#holy{
	margin-left: 115px;
	margin-top: 5px;
}

  
  #video {
    width: 874px;
	height: 400px;
    display: table;
    background-color: #AAD0FF;
	margin-top:10px;
	border-radius: 13px;
	
	#video0{
	width: 550px;
	height: 358px;
	margin-top: - 378px;
	margin-left: 300px;
    background-color: #FFF;
		
		.fleche01{
		margin-top: -10px;
		float: right;
		margin-right: 25px;
		cursor: pointer;
		}

		.introduction1{
		margin-left: 70px;
		margin-right: 50px;
		padding-top: 90px;
		font-family: "gotham";
		font-size: 36px;
		line-height: 36px;
		padding-bottom: 40px;
		border-bottom: 2px dashed black;
		}
		
			.texte2{
			margin-left: 70px;
			margin-right: 70px;
			padding-top: 40px;
			font-family: "gotham";
			font-size: 30px;
			line-height: 30px;
			color: #808080;

			.texte3{
			color: #BBB;
			font-family: "gotham-Bold";			
			}
			}
	}
	
	#video01{
	width: 550px;
	height: 358px;
	margin-top: - 378px;
	margin-left: 300px;
    background-color: #FFF;
		
		.fleche02{
		margin-top: -10px;
		float: right;
		margin-right: 25px;
		cursor: pointer;
		}

		.introduction1{
		margin-left: 70px;
		margin-right: 50px;
		padding-top: 90px;
		font-family: "gotham";
		font-size: 36px;
		line-height: 36px;
		padding-bottom: 40px;
		border-bottom: 2px dashed black;
		}
		
			.texte2{
			margin-left: 70px;
			margin-right: 70px;
			padding-top: 40px;
			font-family: "gotham";
			font-size: 30px;
			line-height: 30px;
			color: #808080;

			.texte3{
			color: #BBB;
			font-family: "gotham-Bold";			
			}
			}
	}
	
	#video02{
	width: 550px;
	height: 358px;
	margin-top: - 378px;
	margin-left: 300px;
    background-color: #FFF;
		
		.fleche03{
		margin-top: -10px;
		float: right;
		margin-right: 25px;
		cursor: pointer;
		}

		.introduction1{
		margin-left: 70px;
		margin-right: 50px;
		padding-top: 90px;
		font-family: "gotham";
		font-size: 36px;
		line-height: 36px;
		padding-bottom: 40px;
		border-bottom: 2px dashed black;
		}
		
			.texte2{
			margin-left: 70px;
			margin-right: 70px;
			padding-top: 40px;
			font-family: "gotham";
			font-size: 30px;
			line-height: 30px;
			color: #808080;

			.texte3{
			color: #bbb;
			font-family: "gotham-Bold";			
			}
			}
	}
	
	#video03{
	width: 550px;
	height: 358px;
	margin-top: - 378px;
	margin-left: 300px;
    background-color: #FFF;
		
		.fleche01{
		margin-top: -10px;
		float: right;
		margin-right: 25px;
		cursor: pointer;
		}

		.introduction1{
		margin-left: 70px;
		margin-right: 50px;
		padding-top: 90px;
		font-family: "gotham";
		font-size: 36px;
		line-height: 36px;
		padding-bottom: 40px;
		border-bottom: 2px dashed black;
		}
		
			.texte2{
			margin-left: 70px;
			margin-right: 70px;
			padding-top: 40px;
			font-family: "gotham";
			font-size: 30px;
			line-height: 30px;
			color: #808080;

			.texte3{
			color: #BBB;
			font-family: "gotham-Bold";			
			}
			}
	}
	
	#connecte{
	margin-top: 20px;
	margin-left:20px;
	width: 260px;
	height: 358px;
		
			
			.image1{

			margin-left:10px;
			width: 150px;
			padding-top:5px;
			padding-bottom: 10px;
			margin-right: 10px;
			border-bottom: 1px Solid white;
				img { width: 150px; height:150px;}
			}

			.nom{
				font-family:"gotham";
				font-size: 16px;
				font-color: black;
				margin-left: 10px;
				width: 150px;
				text-align: center;
				margin-top: 10px;
				padding-bottom: 10px;
				border-bottom: 4px Solid white;
			}
			
		#stats-profil{
			margin-left: 10px;
			width: 150px;
			margin-bottom: 5px;
			margin-top: 5px;
			font-family: "gotham";
			font-size: 14px;
			border-bottom: 1px solid black;
			
			div{
			display: inline-block;
			}

			.texte5{
				padding-left: 3px;
				padding-top: 8px;
				text-align: center;
				font-family: "georgia";
				font-size: 20px;
				color: white;
			}

			.texte2{
				margin-left: 7px;
				margin-bottom: 15px;
				a:hover{
					text-decoration:underline;
					color: #000;
				}
			}
			
		}
		
		
	}
	
	#video2_0{	
	width: 640px;
	height: 350px;
	margin-top: - 353px;
	margin-left: 210px;
    background-color: #FFF;
		
		.image{
		margin: 20px;
		img{width: 550px; height: 260px;}
		}
		.fleche10{
		margin-top: -10px;
		float: right;
		margin-right: 25px;
		cursor: pointer;
		}
		
		.intro{
		margin-left: 70px;
		padding-top: 30px;
		font-family: "gotham";
		font-size: 20px;
		line-height: 36px;
		}
		
		
		.introduction1{
		margin-left: 70px;
		margin-right: 70px;
		padding-top: 40px;
		font-family: "gotham";
		font-size: 36px;
		line-height: 36px;
		padding-bottom: 40px;
		border-bottom: 2px dashed black;
		}
		.texte2{
		margin-left: 70px;
		margin-right: 70px;
		padding-top: 30px;
		font-family: "gotham-Bold";
		font-size: 16px;
		}
	}
	
	#video2_01{	
	width: 640px;
	height: 350px;
	margin-top: - 353px;
	margin-left: 210px;
    background-color: #FFF;
		
		.image{
		margin: 20px;
		img{width: 550px; height: 260px;}
		}
		
		.fleche11{
		margin-top: -10px;
		float: right;
		margin-right: 25px;
		cursor: pointer;
		}
		
		.intro{
		margin-left: 70px;
		padding-top: 30px;
		font-family: "gotham";
		font-size: 20px;
		line-height: 36px;
		}
		
		
		.introduction1{
		margin-left: 70px;
		margin-right: 70px;
		padding-top: 40px;
		font-family: "gotham";
		font-size: 36px;
		line-height: 36px;
		padding-bottom: 40px;
		border-bottom: 2px dashed black;
		}
		.texte2{
		margin-left: 70px;
		margin-right: 70px;
		padding-top: 30px;
		font-family: "gotham-Bold";
		font-size: 16px;
		}
	}
	
	#video2_02{	
	width: 640px;
	height: 350px;
	margin-top: - 353px;
	margin-left: 210px;
    background-color: #FFF;

		.image{
		margin: 20px;
		img{width: 550px; height: 260px;}
		}
		

		.fleche12{
		margin-top: -10px;
		float: right;
		margin-right: 25px;
		cursor: pointer;
		}
		
		.intro{
		margin-left: 70px;
		padding-top: 30px;
		font-family: "gotham";
		font-size: 20px;
		line-height: 36px;
		}
		
		
		.introduction1{
		margin-left: 70px;
		margin-right: 70px;
		padding-top: 40px;
		font-family: "gotham";
		font-size: 36px;
		line-height: 36px;
		padding-bottom: 40px;
		border-bottom: 2px dashed black;
		}
		.texte2{
		margin-left: 70px;
		margin-right: 70px;
		padding-top: 30px;
		font-family: "gotham-Bold";
		font-size: 16px;
		}
	}
	
	#video2_03{	
	width: 640px;
	height: 350px;
	margin-top: - 353px;
	margin-left: 210px;
    background-color: #FFF;

		.image{
		margin: 20px 20px 20px 0px;
		img{width: 550px; height: 260px;}
		}
		

		.fleche13{
		margin-top: -10px;
		float: right;
		margin-right: 25px;
		cursor: pointer;
		}
		
		.intro{
		margin-left: 70px;
		padding-top: 30px;
		font-family: "gotham";
		font-size: 20px;
		line-height: 36px;
		}
		
		
		.introduction1{
		margin-left: 70px;
		margin-right: 70px;
		padding-top: 40px;
		font-family: "gotham";
		font-size: 36px;
		line-height: 36px;
		padding-bottom: 40px;
		border-bottom: 2px dashed black;
		}
		.texte2{
		margin-left: 70px;
		margin-right: 70px;
		padding-top: 30px;
		font-family: "gotham-Bold";
		font-size: 16px;
		}
	}	
    #hero {
			
      > div {
        margin: 20px 0px 20px 20px;
		
        h2 {
          line-height: 32px;
          width: 250px;
        }
      
        h3 {
          margin: 20px 0px;
          line-height: 28px;
        }
		
     	.bouton{
		background-color: #808080;
		height:54px;
		width: 260px;
		padding-top:15px;
		line-height: 20px;
		text-align: center;
		font-family:"gotham-Bold";
		font-size: 18px;
		color: white;
		margin-bottom:10px;
		}
		
		.fields{
		font-family: "gotham";
		margin-top: 15px;
		background-color: #FFF;
		height:40px;
		width: 240px;
		border: none;
		border-radius: 0px;
		}
		
		.fields2{
		font-family: "gotham";
		margin-top: 15px;
		background-color: #FFF;
		width: 140px;
		height:40px;		
		border: none;
		border-radius: 0px;
		}
		
		.validation{
		margin-top: -69px;
		margin-left: 170px;
		background-color: #000;
		width: 90px;
		height:40px;		
		border: none;
		color: white;
		text-align: center;
		font-family:"gotham";
		font-size: 16px;
		border-radius: 0px;		
		}
		
		.inscriptionface{
		background-color: #808080;
		height:54px;
		width: 260px;
		padding-top:15px;
     	text-align: center;
		
		.via{
		line-height: 20px;
		font-family:"gotham-Bold";
		font-size: 18px;
		color: white;
		}
		}
      }
    }  
}

	.en-ce-moment{
	margin-left: 165px;
	margin-right: 20px;
	}
	
	.en-ce-moment1{
	margin-left: 165px;
		margin-right: 20px;
	}
	
	.en-ce-moment2{
	margin-left: 165px;
		margin-right: 20px;
	}
	
	.en-ce-moment3{
	margin-left: 165px;
		margin-right: 20px;
	}
	
	.en-ce-moment4{
	margin-left: 165px;
		margin-right: 20px;
	}
	
  .explanation1 {
	margin-left:60px;
	margin-bottom: 30px;
    text-align: center;
	height: 175px;
	width: 260px;
    padding: 16px 22px 0px 22px;

	
	.image1-expl{
	margin-top:0px;
	}
	.image2-expl{
	margin-top:0px;
	}
	
	.texte{
	position:relative;
	margin-top: -40px;
	padding-top: 0px;
	line-height: 20px;
	font-family:"gotham-Bold";
	font-size: 18px;
	color: white;
	z-index:3;
	}
	
	.image{
	position:relative;
	margin-top:-23px;
	z-index:2;
	}
  }
  
  .explanation2 {
	margin-top: -221px;
	margin-left:394px;
	margin-bottom: 30px;
    text-align: center;
	height: 175px;
	width: 260px;
    padding: 16px 22px 0px 22px;

	.image1-expl{
	margin-top:0px;
	}
	.image2-expl{
	margin-top:0px;
	}
	
	.texte{
	position:relative;
	margin-top: -40px;
	line-height: 20px;
	font-family:"gotham-Bold";
	font-size: 18px;
	color: white;
	z-index:3;
	
	}
	.image{
	position:relative;
	margin-top:-23px;
	z-index:2;
	}
  }

  .explanation3 {
	margin-top: -221px;
	margin-left: 728px;
	margin-bottom: 30px;
    text-align: center;
	height: 175px;
	width: 260px;
    padding: 16px 22px 0px 22px;
	
	.image1-expl{
	margin-top:0px;
	}
	.image2-expl{
	margin-top:0px;
	}
	
	.texte{
	position:relative;
	margin-top: -40px;
	line-height: 20px;
	font-family:"gotham-Bold";
	font-size: 18px;
	color: white;
	z-index:3;
	
	}
	.image{
	position:relative;
	margin-top:-23px;
	z-index:2;
	}
  }	


	#best-debates1{
	margin-left: 201px;
	margin-top: 20px;
    text-align: center;
	font-family:"gotham-Bold";
	font-size:18px;
	height: 29px;
	width: 318px;
	background-color: #C1C1C1;
	font-color: #000000;
	line-height: 30px;
	cursor: pointer;
	}
	
	#best-debates2{
	margin-top:-29px;
	margin-left: 531px;
    text-align: center;
	font-family:"gotham-Bold";
	font-size:18px;
	height: 29px;
	width: 318px;
	background-color: #C1C1C1;
	font-color: #000000;
	line-height: 30px;
	cursor: pointer;
	
	}
	
	#best-debates4{
	margin-bottom: 50px;
	margin-top: 10px;
	margin-left: 359px;
    text-align: center;
	font-family:"gotham-Bold";
	font-size:18px;
	height: 29px;
	width: 318px;
	background-color: #C1C1C1;
	font-color: #000000;
	line-height: 30px;
	a:hover{
		text-decoration:underline;
		color: #000;
	}
	}
	

	#en-bas{
		
		#catcatcat{
		margin-left: 201px;
		}
		#best-debates3{
		margin-left:379px;
		margin-top:-415px;
		}
		
		#best-debates5{
		margin-left:379px;
		margin-top:-415px;
		}
	}
	
	

#for-badges{
	margin-left: 150px;

	#list{
			width: 640px;
	margin-left:-35px;
	}
		#list-users{
		margin-top: 20px;
		width: 640px;
		margin-left:-35px;
		}
}


#index-doulins{

	#informations-doulin1{
		width: 950px;
		margin: 25px 0px 30px 70px;
	
		#informations-challenge1{
		margin: 0px 0px 0px 0px;
		

		#sign_in2{
			margin-left: 0px;
			background-color: #AAD0FF;
			width: 950px;			
			border-radius: 13px;
			min-height: 300px;
						
			#gauche-expl{
			width: 277px;	
			min-height: 300px;
			padding-right: 15px;
			padding-bottom: 15px;
			border-right:3px Solid white; 

				#sign_in3{
				margin-top: 50px;
				margin-left: 10px;
				border-bottom: 1px Dashed black;
				padding-bottom: 10px;
				.texte1{
				font-family: "gotham";
				font-size: 25px;
				}
				.texte2{
				line-height: 25px;
				font-family: "gotham-Bold";
				font-size: 25px;
				color: #FFF;
				}
				}
				#sign_in31{
				margin-top: 50px;
				width: 220px;
				margin-left: 25px;
				padding-bottom: 10px;
				border-bottom: 1px Dashed black;
								
				.texte1{
				font-family: "gotham";
				font-size: 25px;
				}
				.texte2{
				line-height: 25px;
				font-family: "gotham-Bold";
				font-size: 25px;
				color: #FFF;
				}
				}
				#sign_in33{
				margin-top: 50px;
				width: 200px;
				margin-left: 40px;
				padding-bottom: 10px;
				border-bottom: 1px Dashed black;
								
				.texte1{
				font-family: "gotham";
				font-size: 25px;
				}
				.texte2{
				line-height: 25px;
				font-family: "gotham-Bold";
				font-size: 25px;
				color: #FFF;
				}
				}
				
				#sign_in32{
				width: 160px;
				margin-top: 50px;
				margin-left:50px;
				border-bottom: 1px Dashed black;
				padding-bottom: 10px;
				.texte1{
				font-family: "gotham";
				font-size: 25px;
				}
				.texte2{
				line-height: 25px;
				font-family: "gotham-Bold";
				font-size: 25px;
				color: #FFF;
				}
				}
				
				#sign_5{
				margin-left: 0px;
				margin-top: 20px;
					img{width: 280px; height: 163px;}
				}
				#sign_51{
				margin-left: 40px;
				margin-top: 20px;
				img{width: 185px; height: 33px;}
				}
				#sign_52{
				margin-left: 80px;
				margin-top: 20px;
				img{width: 110px; height:110px;}
				}
				#sign_53{
				margin-left: 10px;
				margin-top: 52px;
				margin-bottom: 50px;
				img{width: 260px; height:45px;}
				}
				#sign_54{
				margin-left: 85px;
				margin-top: 20px;
				img{width: 100px; height:80px;}
				}
				
				#sign_4{
				margin-left: 0px;
				margin-top: 15px;
				text-align: center;

					.texte{
					width: 184px;
					padding-left: 5px;
					font-family: "georgia";
					font-size:16px;
					}
				}
			}
			
			#gauche-expl2{
			width: 277px;	
			min-height: 300px;
			padding-right: 15px;
			
			#fermer-explication{
			margin-top: -33px;
			margin-bottom: 15px;
			margin-left: 260px;
			font-family: "gotham";
			font-size: 16px;
			width:5px;
			cursor: pointer;
			font-family: "helvetica-light";
			font-size: 20px;
			color: white;
			}

				#sign_in3{
				margin-top: 50px;
				margin-left: 10px;
				padding-bottom: 10px;
				border-bottom: 1px Dashed black;				

				.texte1{
				font-family: "gotham";
				font-size: 25px;
				}
				.texte2{
				line-height: 25px;
				font-family: "gotham-Bold";
				font-size: 25px;
				color: #FFF;
				}
				}
				
				#sign_in31{
				margin-top: 50px;
				margin-left: 65px;
				width: 140px;
				padding-bottom: 10px;
				border-bottom: 1px Dashed black;

				.texte1{
				font-family: "gotham";
				font-size: 25px;
				}
				.texte2{
				line-height: 25px;
				font-family: "gotham-Bold";
				font-size: 25px;
				color: #FFF;
				}
				}
				
				
				#sign_5{
				margin-left: 0px;
				margin-top: 40px;
				margin-bottom: 40px;				
				}
				
				#sign_51{
				margin-left: 0px;
				margin-top: 20px;
				}
				
				#sign_4{
				margin-left: 0px;
				margin-top: 15px;
				text-align: center;

					.texte{
					width: 184px;
					padding-left: 5px;
					font-family: "georgia";
					font-size:16px;
					}
				}
			}
		}				

		}
		
	}
	
	#informations-doulin{
		width: 950px;
		margin: 0px 0px 20px 70px;
		background-color: #C9C9C9;
		min-height: 270px;
		
		
		#informations-challenge{
		margin: 15px 0px 0px 0px;
		border-bottom: 1px Dashed black;
		
			#textexp{
			margin-left: 40px;
			padding-bottom:15px;
			font-family: "gotham-Bold";
			font-size: 19px;
			margin-top: 5px;
			line-height: 22px;
			}
			
			
			#fermer-explication{
			font-family: "gotham";
			font-size: 16px;
			margin-top: 5px;
			margin-left: 70px;
			width:5px;
			cursor: pointer;
			font-family: "helvetica-light";
			font-size: 20px;
			
			}
			
			#fermer-explication1{
			font-family: "gotham";
			font-size: 16px;
			margin-top: 5px;
			margin-left: 70px;
			width:5px;
			cursor: pointer;
			font-family: "helvetica-light";
			font-size: 20px;
			
			}
		}
		
		
		#ouvrons-encore1{
		height: 230px;
		width: 946px;
		background-color: white;
		margin-left: 0px;
		border-left: 2px Solid #AAD0FF;
		border-right: 2px Solid #AAD0FF;
		border-bottom: 2px Solid #AAD0FF;
		}
		
		#ouvrons-encore{		
		.titre{
		margin-left: 40px;
		height: 28px;
		margin-top: 70px;
		background-color: #808080;
		font-family: "gotham";
		font-size: 17px;
		text-align: center;
		padding-top: 7px;
		
			.challenge{
			color: white;
			padding-top: 30px;
			}
		}
		
		.sous-titre{
		margin-left: 40px;
		font-family: "georgia";
		font-size: 14px;
		font-style: italic;
		margin-top: 15px;
		}
		}
		
		.image1{
		height: 90px;
		width: 150px;
		margin-top: 15px;
		margin-left: 15px;
		background-color: #808080;
		}
		.titre1{
		margin-left: 15px;
		font-family: "gotham";
		font-size: 15px;
		margin-top: 5px;
		}
		
		.soustitre1{
		margin-left: 15px;
		margin-top: 5px;
		font-family: "georgia";
		font-size: 14px;
		font-style: italic;
		}
		
		#informations-doulin1{
			margin-top: 75px;
			margin-left: 20px;
			
			.texte{
			padding-left:4px;
			padding-bottom:15px;
			font-family: "gotham";
			font-size: 19px;
			line-height: 22px;
			border-bottom: 1px Solid black;
			}
			
			.texte2{
			padding-top: 10px;
			padding-left:4px;
			font-family: "georgia";
			font-size: 14px;
			font-style: italic;
			}
			
		}
		
		#informations-doulin2{
			margin-left:50px;
			margin-top: 40px;
			background-color: #808080;
			height: 180px;
			width: 300px;
			
		}
		
		#informations-doulin3{
			margin-left:30px;
			margin-top: 40px;
			background-color: #808080;
			height: 180px;
			width: 300px;
			
		}
		
		#fermer-explication{
		font-family: "gotham";
		font-size: 16px;
		margin-top: 5px;
		margin-left: 8px;
		width:5px;
		cursor: pointer;
		}
		
		#fermer-explication1{
		font-family: "gotham";
		font-size: 16px;
		margin-top: 5px;
		margin-left: 8px;
		width:5px;
		cursor: pointer;
		}	
	}
	
	#intro-doulin{

	margin-left:355px;
	margin-top:30px;
	
	.texte{
	font-family: "georgia";
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	}
	
	.ouvrir-informations{
	margin-top:-20px;
	margin-left: 825px;
	cursor: pointer;
	
	.circle{
		background: #808080;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		
		.texte2{
		padding-top: 5px;
		text-align: center;
		font-family: "bebasneue-webfont";
		font-size: 23px;
		font-style: regular;
		color: white;
		}
	}
	}
	}
	
	#challenge-header{
		font-family: "gotham";
		font-size: 18px;
		margin-left:193px;	
		
		li{
		display: inline-block;
		padding-right:22px;
		color: black;
		}
		.active{
		background-color: #AAD0FF;
		color: black;
		padding:5px 15px;
		}
		
		a:hover {
		text-decoration:underline;
		color: #000;
      }
	}
}


#abonnements{
	#isabelle{
	margin-top: -100px;
	position: relative;
	z-index: 1;
	
	.image{margin-top: -90px;
			margin-left: 150px;}
	}
	
	
	#faqq{
		margin-left: 270px;
		margin-top: 45px;
		
		.blanc{
			width: 0; 
			height: 0; 
			border-top: 12px solid transparent;
			border-bottom: 12px solid transparent;
			position: relative;
			z-index: 1;
			border-left: 11px solid white;
		}
		.bleu{
			margin-top:-24px;
			height: 24px;
			width: 39px;
			background-color: #AAD0FF;
		}
		
		.titre{
		font-family: "gotham";
		font-size: 26px;
		margin-top: -40px;
		margin-left: 70px;
		line-height: 28px;
		width: 500px;
		padding-bottom: 20px;
		border-bottom: 1px dashed black;
		}
		
		.texte{
		font-family: "georgia";
		margin-top: 20px;
		font-size: 16px;
		line-height: 24px;
		width: 500px;
		margin-left: 70px;
		}
	}
	
	#histoiregenese{
		width: 600px;
		height: 157px;
		background-color: #AAD0FF;
		margin-left:  247px;
		margin-top: 30px;
		
		.texte{
		font-family: "georgia";
		font-weight: bold;
		font-size: 16px;
		padding: 40px;
		line-height: 25px;
		}
	}
	
	.nous-ecrire{
	width: 300px;
	height: 30px;
	font-family: "gotham";
	font-size: 20px;
	padding-top: 8px;
	padding-left: 15px;
	text-align: left;
	color: white;
	margin: 40px 0px 0px 208px;
	letter-spacing: 1px;
	background-color: #AAD0FF;
	}
	
	.nous-ecrire1{
	width: 300px;
	height: 30px;
	font-family: "gotham";
	font-size: 20px;
	padding-top: 8px;
	padding-left: 15px;
	text-align: left;
	color: black;
	margin: -38px 0px 0px 567px;
	letter-spacing: 1px;
	background-color: #C9C9C9;
	}
	
	.nous-ecrire2{
	width: 370px;
	height: 30px;
	font-family: "gotham";
	font-size: 20px;
	padding-top: 8px;
	padding-left: 15px;
	text-align: left;
	color: black;
	margin: 30px 0px 0px 337px;
	letter-spacing: 1px;
	background-color: #AAD0FF;
	
		.nom{color: #000;}
	}
	
	#notre-contact{

		li
		{display: inline-block;}
		margin-left: 187px;
		margin-top: 30px;
		
		.nom{
		font-family: "gotham";
		font-size: 20px;
		margin-right: 40px;
		width: 200px;
		text-align: center;
		}
		
		.nom2{
		font-family: "georgia";
		font-size: 13px;
		margin-right: 40px;
		width: 200px;
		text-align: center;
		}
		.contacter{
		border-radius: 12px;
		margin-right: 40px;
		width: 200px;
		height: 230px;
		background-color: #AAD0FF;
		
			.image-1{
			width:170px;
			img{height: 200px; width: 170px;}
			padding: 15px 0px 0px 15px;
			position: relative;
			z-index: 2;
			border: 1px white Solid;
			}
		}
		.contacter1{
		border-radius: 12px;
		margin-right: 40px;
		width: 200px;
		height: 230px;
		background-color: #AAD0FF;
		margin: -230px 0px 0px 240px;
		
			.image-1{
			width:170px;
			img{height: 200px; width: 170px;}
			padding: 15px 0px 0px 15px;
			position: relative;
			z-index: 2;
			border: 1px white Solid;
			}
		}
		
		.contacter2{
		border-radius: 12px;
		margin-right: 40px;
		width: 200px;
		height: 230px;
		background-color: #AAD0FF;
		margin: -230px 0px 0px 480px;
		
			.image-1{
			width:170px;
			img{height: 200px; width: 170px;}
			padding: 15px 0px 0px 15px;
			position: relative;
			z-index: 2;
			border: 1px white Solid;
			}
		}
	}

	
	#raison3{
	margin-left: 180px;
	margin-top: 80px;
	
	.circle {
		border-radius: 50%;
		width: 100px;
		height: 100px;
		background-color: #AAD0FF;
		
		.image{
		margin-left:25px;
		margin-top: 25px;
		}
		
		.text{
		font-family: "gotham";
		font-size: 23px;
		margin-left: 44px;
		margin-top: -35px;
		}
	}
	
	
	.text2{
	font-family: "gotham";
	font-size: 20px;
	text-align: left;
	width: 450px;
	margin-top: -90px;
	margin-left: 120px;
	line-height: 25px;
	}
	}
	
	
	#raison2{
	margin-left: 300px;
	margin-top: 60px;
	
	.circle {
		border-radius: 50%;
		width: 100px;
		height: 100px;
		background-color: #AAD0FF;
		
		.image{
		margin-left:25px;
		margin-top: 25px;
		}
		
		.text{
		font-family: "gotham";
		font-size: 23px;
		margin-left: 44px;
		margin-top: -35px;
		}
	}
	
	
	.text2{
	font-family: "gotham";
	font-size: 20px;
	text-align: left;
	width: 450px;
	margin-top: -90px;
	margin-left: 120px;
	line-height: 25px;
	}
	}
	
	#tiret-tiret{
	margin-top: 100px;
	margin-left: 350px;
	width: 350px;
	border-bottom: 1px dashed black;
	}
	
	#raison4{
	margin-left: 230px;
	margin-top: 60px;
	
	.circle {
		border-radius: 50%;
		width: 100px;
		height: 100px;
		background-color: #AAD0FF;
		
		.image{
		margin-left:25px;
		margin-top: 25px;
		}
		
		.text{
		font-family: "gotham";
		font-size: 23px;
		margin-left: 44px;
		margin-top: -35px;
		}
	}
	
	
	.text2{
	font-family: "georgia";
	font-size: 20px;
	text-align: left;
	width: 550px;
	margin-top: -90px;
	margin-left: 120px;
	line-height: 25px;
	}
	}
	
	
	
	#raison1{
	margin-left: 180px;
	margin-top: 30px;
	.circle {
		border-radius: 50%;
		width: 100px;
		height: 100px;
		background-color: #AAD0FF;
		
		.image{
		margin-left:25px;
		margin-top: 25px;
		}
		
		.text{
		font-family: "gotham";
		font-size: 23px;
		margin-left: 45px;
		margin-top: -35px;
		}
	}
	
	
	.text2{
	font-family: "gotham";
	font-size: 20px;
	text-align: left;
	width: 450px;
	margin-top: -90px;
	margin-left: 120px;
	line-height: 25px;
	}
	}
	
	#intro{
		font-family: "georgia";
		font-size: 16px;
		font-style: italic;
		font-weight: bold;
		margin-top:23px;
		width:1060px;
		margin-left: 20px;
		text-align: center;
	}
	
	#intro2{
	    padding-bottom: 15px;
	    width: 460px;
		font-family: "georgia";
		font-size: 16px;
		font-style: italic;
		font-weight: bold;
		margin-top:23px;
		margin-left: 340px;
		text-align: center;
	}	

	#abobo{
		font-family: "gotham";
		font-size: 48px;
		margin-top:50px;
		width:1060px;
		margin-left: 20px;
		text-align: center;
	}
	
	#abobo1{
		font-family: "gotham";
		font-size: 48px;
		margin-top:50px;
		line-height: 48px;
		width:510px;
		margin-left: 300px;
		padding-bottom: 50px;
		text-align: center;
		border-bottom: 1px Dashed;
	}
	
	#petit-abo{
	height: 157px;
	width: 340px;
	border-radius: 13px;
	background-color: #AAD0FF;
	margin-top: 50px;
	margin-left: 202px;
	
	.offre2{
	width:205px;
	height: 25px;
	background-color: #C1C1C1;
	font-family: gotham;
	font-size: 18px;
	padding-top: 4px;
	text-align: center;
	margin-left:66px;
	position: relative;
	z-index: 2;
	}
	
	.cadre13{
	height: 127px;
	width: 302px;
	border-radius: 13px;
	background-color: #FFF;
	margin-left: 19px;
	margin-top: -15px;
	position: relative;
	z-index: 1;
	
		.titre{
		font-family: "gotham";
		font-size: 36px;
		text-align: center;
		padding-top: 40px;
		}
		
		.sous-titre{
		font-family: "georgia";
		font-size: 16px;
		font-style: italic;
		font-weight: bold;
		padding-top:20px;
		text-align: center;
		
		}
	}
	
	}	
	
	#grand-abo{
	height: 157px;
	width: 340px;
	border-radius: 13px;
	background-color: #AAD0FF;
	margin-top: 50px;
	margin-left: 18px;
	
	.offre2{
	width:232px;
	height: 25px;
	background-color: #C1C1C1;
	font-family: gotham;
	font-size: 18px;
	padding-top: 4px;
	text-align: center;
	margin-left:66px;
	position: relative;
	z-index: 2;
	}
	
	.cadre13{
	height: 127px;
	width: 302px;
	border-radius: 13px;
	background-color: #FFF;
	margin-left: 19px;
	margin-top: -15px;
	position: relative;
	z-index: 1;
	
		.titre{
		font-family: "gotham";
		font-size: 36px;
		text-align: center;
		padding-top: 40px;
		}
		
		.sous-titre{
		font-family: "georgia";
		font-size: 16px;
		font-style: italic;
		font-weight: bold;
		padding-top:20px;
		text-align: center;
		
		}
	}
	
	}

  #promesses{
  margin-left: 364px;
  margin-top: -50px;
  padding-top: 10px;
  margin-bottom: 30px;
  padding-left: 25px;
  background-color: #ADD0FF;
  height: 130px;
  width: 335px;
  color: black;
  font-family: "gotham";
  font-size: 34px;
  line-height: 40px;
  }

  #photo-abonnement{
  width: 110px;
  margin-top: 35px;
  margin-left: 470px;
  }
}

#erreurs{

#intro{
	font-family: "georgia";
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	margin-top:23px;
	width:1060px;
	margin-left: 0px;
	text-align: center;
}

#intro2{
	font-family: "gotham";
	font-size: 36px;
	width:600px;
	text-align: center;
	margin-top: 40px;
	margin-left: 222px;
	line-height: 40px;
}

#petit-abo{
height: 350px;
width: 600px;
border-radius: 13px;
background-color: #AAD0FF;
margin-top: 20px;
margin-left: 242px;

.cadre13{
height: 310px;
width: 560px;
border-radius: 13px;
background-color: #FFF;
margin-left: 20px;
margin-top: 20px;
position: relative;
z-index: 1;

	.titre{
	font-family: "gotham";
	font-size: 36px;
	text-align: left;
	padding-top: 100px;
	padding-bottom: 30px;
	border-bottom: 1px dashed;
	margin-left: 70px;
	margin-right: 70px;
	}
	
	.sous-titre{
	font-family: "gotham-Bold";
	font-size: 16px;
	padding-top:20px;
	text-align: left;
	padding-left: 70px;
	
	}
}

}

#photo-abonnement{
width: 110px;
margin-top: 35px;
margin-left: 470px;
}


}

#presentation-2{
	
	#intro{
		font-family: "georgia";
		font-size: 16px;
		font-style: italic;
		font-weight: bold;
		margin-top:23px;
		width:1060px;
		margin-left: 20px;
		text-align: center;
	}
	
	#intro2{
	    padding-bottom: 15px;
	    width: 1060px;
		font-family: "georgia";
		font-size: 16px;
		font-style: italic;
		font-weight: bold;
		margin-top:23px;
		text-align: center;
		margin-left: 20px;
	}
	
	#lesphotos{
	margin-left:10px;
	width: 150px;
	padding-top:5px;
	padding-bottom: 10px;
	margin-right: 10px;
	border-bottom: 1px Solid white;
	}

}

#presentation-1{
	#lesphotos{
	margin-left:10px;
	width: 150px;
	padding-top:5px;
	padding-bottom: 10px;
	margin-right: 10px;
	border-bottom: 1px Solid white;
	}
	
	#photo-abonnement{
  width: 110px;
  margin-top: 35px;
  margin-left: 470px;
  }

	#photo-abonnement1{
  margin-top: 35px;
  margin-left: 320px;
	margin-bottom: -100px;
  }
	#pousse-gauche{
	margin-top: 30px;
	margin-left: 200px;
	}
	#pousse-milieu{
	margin-top: 30px;
	margin-left: 280px;
	}
	#pousse-droite{
	margin-left: 400px;
	}
	#intro{
		font-family: "georgia";
		font-size: 16px;
		font-style: italic;
		font-weight: bold;
		margin-top:23px;
		width:1060px;
		margin-left: 20px;
		text-align: center;
	}
	
	#intro2{
	    padding-bottom: 15px;
	    width: 1060px;
		font-family: "georgia";
		font-size: 16px;
		font-style: italic;
		font-weight: bold;
		margin-top:23px;
		text-align: center;
		margin-left: 20px;
	}	

	#abobo{
		font-family: "gotham";
		font-size: 48px;
		margin-top:50px;
		width:1060px;
		margin-left: 20px;
		text-align: center;
		line-height: 50px;
	}
	
	#abobo1{
		font-family: "gotham";
		font-size: 48px;
		margin-top:50px;
		width:510px;
		margin-left: 300px;
		padding-bottom: 50px;
		text-align: center;
		border-bottom: 1px Dashed;
	}
	
	#petit-abo{
	min-height: 157px;
	width: 340px;
	border-radius: 13px;
	background-color: #FF6969;
	margin-top: 50px;
	margin-left: 202px;
	
	.offre2{
	width:205px;
	height: 25px;
	background-color: #C1C1C1;
	font-family: gotham;
	font-size: 18px;
	padding-top: 4px;
	text-align: center;
	margin-left:66px;
	position: relative;
	z-index: 2;
	}
	
	.cadre13{
	min-height: 127px;
	width: 302px;
	border-radius: 13px;
	background-color: #FFF;
	margin-left: 19px;
	margin-top: -15px;
	position: relative;
	z-index: 1;
	
		.titre{
		font-family: "gotham";
		font-size: 36px;
		text-align: center;
		padding-top: 40px;
		}
		
		.sous-titre{
		font-family: "georgia";
		font-size: 16px;
		font-style: italic;
		padding: 30px 5px 5px 5px;	
		text-align: left;
		
		}
	}
	
	}	
	
	#small-abo{
	min-height: 157px;
	width: 340px;
	border-radius: 13px;
	background-color: #DDD;
	margin-top: 50px;
	margin-left: 202px;
	
	.offre2{
	width:205px;
	height: 25px;
	background-color: #AAD0FF;
	font-family: gotham;
	font-size: 18px;
	padding-top: 4px;
	text-align: center;
	margin-left:66px;
	position: relative;
	z-index: 2;
	}
	.offre1{
	width:205px;
	height: 25px;
	background-color: #CCC;
	font-family: gotham;
	font-size: 18px;
	padding-top: 4px;
	text-align: center;
	margin-left:66px;
	position: relative;
	z-index: 2;
	}
	
	.cadre13{
	min-height: 127px;
	width: 302px;
	border-radius: 13px;
	background-color: #FFF;
	margin-left: 19px;
	margin-bottom: 15px;
	margin-top: -15px;
	position: relative;
	z-index: 1;
	
		.titre{
		font-family: "gotham";
		font-size: 36px;
		text-align: center;
		padding-top: 40px;
		}
		
		.sous-titre{
		font-family: "georgia";
		font-size: 16px;
		font-style: italic;
		padding: 30px 5px 15px 5px;	
		text-align: left;
		
		}
	}
	
	}
	
	#big-abo{
	min-height: 157px;
	width: 340px;
	border-radius: 13px;
	background-color: #DDD;
	margin-top: 50px;
	margin-left: 50px;
	
	.offre2{
	width:205px;
	height: 25px;
	background-color: #AAD0FF;
	font-family: gotham;
	font-size: 18px;
	padding-top: 4px;
	text-align: center;
	margin-left:66px;
	position: relative;
	z-index: 2;
	}
	.offre1{
	width:205px;
	height: 25px;
	background-color: #CCC;
	font-family: gotham;
	font-size: 18px;
	padding-top: 4px;
	text-align: center;
	margin-left:66px;
	position: relative;
	z-index: 2;
	}
	
	.cadre13{
	min-height: 127px;
	width: 302px;
	border-radius: 13px;
	background-color: #FFF;
	margin-left: 19px;
	margin-bottom: 15px;
	margin-top: -15px;
	position: relative;
	z-index: 1;
	
		.titre{
		font-family: "gotham";
		font-size: 36px;
		text-align: center;
		padding-top: 40px;
		}
		
		.sous-titre{
		font-family: "georgia";
		font-size: 16px;
		font-style: italic;
		padding: 30px 5px 15px 5px;	
		text-align: left;
		
		}
	}
	
	}
	
	#grand-abo{
	height: 157px;
	width: 340px;
	border-radius: 13px;
	background-color: #AAD0FF;
	margin-top: 50px;
	margin-left: 50px;
	
	.offre2{
	width:232px;
	height: 25px;
	background-color: #C1C1C1;
	font-family: gotham;
	font-size: 18px;
	padding-top: 4px;
	text-align: center;
	margin-left:66px;
	position: relative;
	z-index: 2;
	}
	
	.cadre13{
	height: 127px;
	width: 302px;
	border-radius: 13px;
	background-color: #FFF;
	margin-left: 19px;
	margin-top: -15px;
	position: relative;
	z-index: 1;
	
		.titre{
		font-family: "gotham";
		font-size: 36px;
		text-align: center;
		padding-top: 40px;
		}
		
		.sous-titre{
		font-family: "georgia";
		font-size: 16px;
		font-style: italic;
		padding: 50px 5px 5px 5px;	
		text-align: left;
		}
	}
	
	}

  #promesses{
  margin-left: 424px;
  margin-top: 30px;
  padding-top: 10px;
  margin-bottom: 30px;
  padding-left: 25px;
  background-color: #ADD0FF;
  height: 130px;
  width: 215px;
  color: black;
  font-family: "gotham";
  font-size: 34px;
  line-height: 40px;
  }

	
	#raison1{
	margin-left: 180px;
	margin-top: 100px;
	margin-bottom: 30px;
	.circle {
		border-radius: 50%;
		width: 100px;
		height: 100px;
		background-color: #AAD0FF;
		
		.image{
		margin-left:25px;
		margin-top: 25px;
		}
		
		.text{
		font-family: "gotham";
		font-size: 23px;
		margin-left: 45px;
		margin-top: -35px;
		}
	}
	
	
	.text2{
	font-family: "georgia";
	font-size: 20px;
	text-align: left;
	width: 650px;
	margin-top: -90px;
	margin-left: 120px;
	line-height: 25px;
	}
	}
}