#intro{
font-family: "georgia";
font-size: 16px;
font-style: italic;
font-weight: bold;
margin-top:23px;
width:1060px;
margin-left: 20px;
text-align: center;
}

#holy{
	margin-left: 115px;
	margin-top: 15px;
}

  
  #video {
    width: 874px;
	height: 400px;
    display: table;
    background-color: #AAD0FF;
	margin-top:10px;
	border-radius: 13px;
	
	#video0{
	width: 550px;
	height: 358px;
	margin-top: - 378px;
	margin-left: 300px;
    background-color: #FFF;
		
		.image{
		margin-top: -80px;
		float: right;
		margin-right: 20px;
		}
		
		.image1{
		margin-top: -80px;
		float: left;
		margin-left: 20px;
		}
		
		.introduction1{
		margin-left: 70px;
		margin-right: 70px;
		padding-top: 90px;
		font-family: "gotham";
		font-size: 36px;
		line-height: 36px;
		padding-bottom: 40px;
		border-bottom: 2px dashed black;
		}
		.texte2{
		margin-left: 70px;
		margin-right: 70px;
		padding-top: 30px;
		font-family: "gotham";
		font-size: 16px;
		font-weight	: bold;
		}
	}
	
	#video1{
	width: 550px;
	height: 358px;
	margin-top: - 378px;
	margin-left: 300px;
    background-color: #FFF;

		.introduction1{
		margin-left: 70px;
		margin-right: 70px;
		padding-top: 90px;
		font-family: "gotham";
		font-size: 36px;
		line-height: 36px;
		padding-bottom: 40px;
		border-bottom: 2px dashed black;
		}
		.texte2{
		margin-left: 70px;
		margin-right: 70px;
		padding-top: 30px;
		font-family: "gotham";
		font-size: 16px;
		font-weight	: bold;
		}
	}

	#connecte{
	margin-top: 20px;
	margin-left:20px;
	width: 260px;
	height: 358px;
		
			
			.image1{

			margin-left:10px;
			width: 150px;
			padding-top:5px;
			padding-bottom: 10px;
			margin-right: 10px;
			border-bottom: 1px Solid white;
				img { width: 150px; height:150px;}
			}

			.nom{
				font-family:"gotham";
				font-size: 16px;
				font-color: black;
				margin-left: 10px;
				width: 150px;
				text-align: center;
				margin-top: 10px;
				padding-bottom: 10px;
				border-bottom: 4px Solid white;
			}
			
		#stats-profil{
			margin-left: 10px;
			width: 150px;
			margin-bottom: 5px;
			margin-top: 5px;
			font-family: "gotham";
			font-size: 14px;
			border-bottom: 1px solid black;
			
			div{
			display: inline-block;
			}

			.texte5{
				padding-left: 3px;
				padding-top: 8px;
				text-align: center;
				font-family: "bebasneue-webfont";
				font-size: 20px;
				color: white;
			}

			.texte2{
				margin-left: 7px;
				margin-bottom: 15px;
			}
		}
		
		
	}
	
	#video_3{	
	width: 640px;
	height: 350px;
	margin-top: - 353px;
	margin-left: 210px;
    background-color: #FFF;
	}
		
    #hero {
			
      > div {
        margin: 20px 0px 20px 20px;
		
        h2 {
          line-height: 32px;
          width: 250px;
        }
      
        h3 {
          margin: 20px 0px;
          line-height: 28px;
        }
		
     	.bouton{
		background-color: #808080;
		height:54px;
		width: 260px;
		padding-top:15px;
		line-height: 20px;
		font-weight: bold;
		text-align: center;
		font-family:"gotham";
		font-size: 18px;
		color: white;
		margin-bottom:10px;
		}
		
		.fields{
		font-family: "gotham";
		margin-top: 15px;
		background-color: #FFF;
		height:40px;
		width: 240px;
		border: none;
		border-radius: 0px;
		}
		
		.fields2{
		font-family: "gotham";
		margin-top: 15px;
		background-color: #FFF;
		width: 140px;
		height:40px;		
		border: none;
		border-radius: 0px;
		}
		
		.validation{
		margin-top: -69px;
		margin-left: 170px;
		background-color: #000;
		width: 90px;
		height:40px;		
		border: none;
		color: white;
		text-align: center;
		font-family:"gotham";
		font-size: 16px;
		border-radius: 0px;		
		}
		
		.inscriptionface{
		background-color: #808080;
		height:54px;
		width: 260px;
		padding-top:15px;
     	text-align: center;
		
		.via{
		line-height: 20px;
		font-weight: bold;
		font-family:"gotham";
		font-size: 18px;
		color: white;
		}
		}
      }
    }  
}

	 
  .explanation1 {
	margin-top: 30px;
	margin-left:70px;
	margin-bottom: 30px;
    text-align: center;
	height: 175px;
	width: 260px;
    padding: 16px 22px 0px 22px;

	
	.image1-expl{
	margin-top:0px;
	}
	.image2-expl{
	margin-top:0px;
	}
	
	.texte{
	position:relative;
	margin-top: -40px;
	padding-top: 0px;
	line-height: 20px;
	font-weight: bold;
	font-family:"gotham";
	font-size: 18px;
	color: white;
	z-index:3;
	}
	
	.image{
	position:relative;
	margin-top:-23px;
	z-index:2;
	}
  }
  
  .explanation2 {
	margin-top: -221px;
	margin-left:394px;
	margin-bottom: 30px;
    text-align: center;
	height: 175px;
	width: 260px;
    padding: 16px 22px 0px 22px;

	.image1-expl{
	margin-top:0px;
	}
	.image2-expl{
	margin-top:0px;
	}
	
	.texte{
	position:relative;
	margin-top: -40px;
	line-height: 20px;
	font-weight: bold;
	font-family:"gotham";
	font-size: 18px;
	color: white;
	z-index:3;
	
	}
	.image{
	position:relative;
	margin-top:-23px;
	z-index:2;
	}
  }

  .explanation3 {
	margin-top: -221px;
	margin-left: 728px;
	margin-bottom: 30px;
    text-align: center;
	height: 175px;
	width: 260px;
    padding: 16px 22px 0px 22px;
	
	.image1-expl{
	margin-top:0px;
	}
	.image2-expl{
	margin-top:0px;
	}
	
	.texte{
	position:relative;
	margin-top: -40px;
	line-height: 20px;
	font-weight: bold;
	font-family:"gotham";
	font-size: 18px;
	color: white;
	z-index:3;
	
	}
	.image{
	position:relative;
	margin-top:-23px;
	z-index:2;
	}
  }	


	#best-debates1{
	margin-left: 208px;
	margin-top: 20px;
    text-align: center;
	font-family:"gotham";
	font-size:18px;
	height: 29px;
	width: 318px;
	background-color: #C1C1C1;
	font-color: #000000;
	font-weight: bold;
	line-height: 30px;
	}
	
	#best-debates2{
	margin-top:-29px;
	margin-left: 538px;
    text-align: center;
	font-family:"gotham";
	font-size:18px;
	height: 29px;
	width: 318px;
	background-color: #C1C1C1;
	font-color: #000000;
	font-weight: bold;
	line-height: 30px;
	}
	
	#best-debates4{
	margin-bottom: 50px;
	margin-top: 10px;
	margin-left: 366px;
    text-align: center;
	font-family:"gotham";
	font-size:18px;
	height: 29px;
	width: 318px;
	background-color: #C1C1C1;
	font-color: #000000;
	font-weight: bold;
	line-height: 30px;
	}
	

	#en-bas{
		
		#catcatcat{
		margin-left: 208px;
		}
		#best-debates3{
		margin-left:386px;
		margin-top:-415px;
		}
	}
	
	

#for-badges{
	margin-left: 150px;
	
	#list{
	width: 640px;
	margin-left:-35px;
	}
}


#index-doulins{
	#informations-doulin{
		width: 950px;
		margin: 30px 0px 0px 70px;
		background-color: #C9C9C9;
		height: 270px;
		
		#informations-doulin1{
			margin-top: 75px;
			margin-left: 20px;
			
			.texte{
			padding-left:4px;
			padding-bottom:15px;
			font-family: "gotham";
			font-size: 19px;
			line-height: 22px;
			border-bottom: 1px Solid black;
			}
			
			.texte2{
			padding-top: 10px;
			padding-left:4px;
			font-family: "georgia";
			font-size: 14px;
			font-style: italic;
			}
			
		}
		
		#informations-doulin2{
			margin-left:50px;
			margin-top: 40px;
			background-color: #808080;
			height: 180px;
			width: 300px;
			
		}
		
		#informations-doulin3{
			margin-left:30px;
			margin-top: 40px;
			background-color: #808080;
			height: 180px;
			width: 300px;
			
		}
		
		#fermer-explication{
		font-family: "gotham";
		font-size: 16px;
		margin-top: 5px;
		margin-left: 8px;
		width:5px;
		cursor: pointer;
		}
		
		#fermer-explication1{
		font-family: "gotham";
		font-size: 16px;
		margin-top: 5px;
		margin-left: 8px;
		width:5px;
		cursor: pointer;
		}	
	}
	
	#intro-doulin{

	margin-left:0px;
	margin-top:30px;
	margin-bottom: 10px;
	
	.texte{
	font-family: "georgia";
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	}
	
	.ouvrir-informations{
	margin-top:-20px;
	margin-left: 825px;
	cursor: pointer;
	
	.circle{
		background: #808080;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		
		.texte2{
		padding-top: 5px;
		text-align: center;
		font-family: "bebasneue-webfont";
		font-size: 23px;
		font-style: regular;
		color: white;
		}
	}
	}
	}
	
	#challenge-header{
		margin-top: 30px;
		margin-bottom: 40px;
		font-family: "georgia";
		font-style: italic;
		font-weight: bold;
		font-size: 20px;
		margin-left:200px;


		li {
	      display: inline-block;
		  padding-right: 20px;
				cursor : pointer;

	    }

		.tiret{
		color: #808080;
		font-size: 21px;
		}

	    li.active, li:hover {
			text-decoration:underline;
	    }
	}
}


#abonnements{

	#intro{
		font-family: "georgia";
		font-size: 16px;
		font-style: italic;
		font-weight: bold;
		margin-top:23px;
		width:1060px;
		margin-left: 20px;
		text-align: center;
	}
	
	#intro2{
	    padding-bottom: 15px;
	    width: 460px;
		font-family: "georgia";
		font-size: 16px;
		font-style: italic;
		font-weight: bold;
		margin-top:23px;
		margin-left: 340px;
		text-align: center;
		border-bottom: 1px dashed;
	}	

	#abobo{
		font-family: "gotham";
		font-size: 48px;
		margin-top:50px;
		width:1060px;
		margin-left: 20px;
		text-align: center;
	}
	
	#petit-abo{
	height: 157px;
	width: 340px;
	border-radius: 13px;
	background-color: #AAD0FF;
	margin-top: 50px;
	margin-left: 202px;
	
	.offre2{
	width:205px;
	height: 25px;
	background-color: #C1C1C1;
	font-family: gotham;
	font-size: 18px;
	padding-top: 4px;
	text-align: center;
	margin-left:66px;
	position: relative;
	z-index: 2;
	}
	
	.cadre13{
	height: 127px;
	width: 302px;
	border-radius: 13px;
	background-color: #FFF;
	margin-left: 19px;
	margin-top: -15px;
	position: relative;
	z-index: 1;
	
		.titre{
		font-family: "gotham";
		font-size: 36px;
		text-align: center;
		padding-top: 40px;
		}
		
		.sous-titre{
		font-family: "georgia";
		font-size: 16px;
		font-style: italic;
		font-weight: bold;
		padding-top:20px;
		text-align: center;
		
		}
	}
	
	}	
	
	#grand-abo{
	height: 157px;
	width: 340px;
	border-radius: 13px;
	background-color: #AAD0FF;
	margin-top: 50px;
	margin-left: 18px;
	
	.offre2{
	width:232px;
	height: 25px;
	background-color: #C1C1C1;
	font-family: gotham;
	font-size: 18px;
	padding-top: 4px;
	text-align: center;
	margin-left:66px;
	position: relative;
	z-index: 2;
	}
	
	.cadre13{
	height: 127px;
	width: 302px;
	border-radius: 13px;
	background-color: #FFF;
	margin-left: 19px;
	margin-top: -15px;
	position: relative;
	z-index: 1;
	
		.titre{
		font-family: "gotham";
		font-size: 36px;
		text-align: center;
		padding-top: 40px;
		}
		
		.sous-titre{
		font-family: "georgia";
		font-size: 16px;
		font-style: italic;
		font-weight: bold;
		padding-top:20px;
		text-align: center;
		
		}
	}
	
	}

  #promesses{
  margin-left: 364px;
  margin-top: 50px;
  padding-top: 10px;
  margin-bottom: 30px;
  padding-left: 25px;
  background-color: #ADD0FF;
  height: 130px;
  width: 335px;
  color: black;
  font-family: "gotham";
  font-size: 34px;
  line-height: 40px;
  }

  #photo-abonnement{
  width: 110px;
  margin-top: 35px;
  margin-left: 470px;
  }
}

#erreurs{

#intro{
	font-family: "georgia";
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	margin-top:23px;
	width:1060px;
	margin-left: 20px;
	text-align: center;
}

#intro2{
	font-family: "gotham";
	font-size: 36px;
	width:600px;
	text-align: center;
	margin-top: 40px;
	margin-left: 242px;
	line-height: 40px;
}

#petit-abo{
height: 350px;
width: 600px;
border-radius: 13px;
background-color: #AAD0FF;
margin-top: 20px;
margin-left: 242px;

.cadre13{
height: 310px;
width: 560px;
border-radius: 13px;
background-color: #FFF;
margin-left: 20px;
margin-top: 20px;
position: relative;
z-index: 1;

	.titre{
	font-family: "gotham";
	font-size: 36px;
	text-align: left;
	padding-top: 100px;
	padding-bottom: 30px;
	border-bottom: 1px dashed;
	margin-left: 70px;
	margin-right: 70px;
	}
	
	.sous-titre{
	font-family: "gotham";
	font-size: 16px;
	font-weight: bold;
	padding-top:20px;
	text-align: left;
	padding-left: 70px;
	
	}
}

}

#photo-abonnement{
width: 110px;
margin-top: 35px;
margin-left: 470px;
}


}